.slider-main
    .container
        ul.slider-main__list
            li.slider-main__item
                img.slider-main__img
                .slider-main__info
                    .slider-main__text Призыв к действию 
                    .slider-main__description Дополнительная информация 
                    a.button.slider-main__link(href="#") Подробнее
