// color
$default-text-color: #3c414c;

.bg-light-blue {
  background-color: #7cc3e6;
}

.bg-green {
  background-color: #b9cf1b;
}

.bg-light-green {
  background-color: #bcd124;
}

.bg-yellow {
  background-color: #fac815;
}

.bg-orange {
  background-color: #f08340;
}

.bg-red {
  background-color: #d73124;
}

.bg-blue {
  background-color: #249cd8;
}

body .shadow-red {
  box-shadow: 0 4px 20px rgba(239,117,93,0.4);

  &_img {
    & img {
      @extend .shadow-red;
    }
  }
}