@mixin icon-pseudo() {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    @content;
  }
}
.icon {
  &-pseudo {
    &-fire {
      @include icon-pseudo {
        background: url(icon-fire()) no-repeat center;
        width: 12px;
        height: 14px;
      }
    }
    &-pdf {
      &-white {
        @include icon-pseudo {
        background: url(icon-pdf-white()) no-repeat center;
        width: 27px;
        height: 32px;
        }
      }
    }
    &-ms-word {
      &-white {
        @include icon-pseudo {
          background: url(icon-ms-word-white()) no-repeat center;
          width: 33px;
          height: 32px;
        }
      }
    }

    &-arrow {

      &-left {
        &-black {
          @include icon-pseudo();
          background: url(icon-arrow-left-black()) no-repeat center;
          width: 6px;
          height: 11px;
        }
      }

      &-right {
        &-black {
          @include icon-pseudo();
          background: url(icon-arrow-left-black()) no-repeat center;
          width: 6px;
          height: 11px;
          @include rotate();
        }
      }
    }
  }
}