$col-height: 30px;

@mixin m-top($n: 1) {
  margin-top: $n * $col-height;
}

@mixin m-bottom($n: 1) {
  margin-bottom: $n * $col-height;
}

@mixin p-top($n: 1) {
  padding-top: $n * $col-height;
}
@mixin p-bottom($n: 1) {
  padding-bottom: $n * $col-height;
}

@mixin blur($value: 5px) {
  $blur: none;
  @if $value != none {
    $blur: blur($value)
  }
  -webkit-filter: $blur;
  -moz-filter: $blur;
  -o-filter: $blur;
  -ms-filter: $blur;
  filter: $blur;
}

@mixin transition($time: .3s, $type: ease-in-out, $prop: all) {
  -webkit-transition: $time $type $prop;
  -moz-transition: $time $type $prop;
  -ms-transition: $time $type $prop;
  -o-transition: $time $type $prop;
  transition: $time $type $prop;
}

@mixin rotate($deg: 180deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin placeholder() {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  /* Firefox 19+ */
  &:-moz-placeholder {
    @content;
  }
  /* Firefox 18- */
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin blue-pattern() {
  border-radius: 6px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  box-shadow: 0 4px 20px rgba(12,34,94,0.4);
  z-index: 0;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0c225e;
    opacity: 0.6;
    border-radius: 6px;
    z-index: -1;
  }
}