$col-height: 30px;

@mixin m-top($n: 1) {
  margin-top: $n * $col-height;
}

@mixin m-bottom($n: 1) {
  margin-bottom: $n * $col-height;
}

@mixin p-top($n: 1) {
  padding-top: $n * $col-height;
}
@mixin p-bottom($n: 1) {
  padding-bottom: $n * $col-height;
}

@mixin blur($value: 5px) {
  $blur: none;
  @if $value != none {
    $blur: blur($value)
  }
  -webkit-filter: $blur;
  -moz-filter: $blur;
  -o-filter: $blur;
  -ms-filter: $blur;
  filter: $blur;
}