mixin news-card(newsCard)
    .news-card
        .news-card__img(style=`background-image: url(${newsCard.img})`)
        .news-card__bottom
            .news-card__inner
                .news-card__row
                    a(href='#').news-card__title=newsCard.title
                    .news-card__date(class=newsCard.dateColor ? newsCard.dateColor : '')=newsCard.date
                .news-card__block
                    .news-card__text=newsCard.text

                a(href='#').btn.btn-fix Подробнее


mixin news(newsList)
    section.news
        .container
            .news__list
                for news in newsList
                    +news-card(news)
