include ../../components/product-detail/product-detail
include ../../components/product-recommended/product-recommended

section.content-half
    .container
        .content-half__flex
            .content-half__part
                +product-pic(productPic)
            .content-half__part
                +product-top(productOption)
                +product-box(productBox)
                +product-attention()
                +product-desc()
+product-recommended(productRecommended)