section.content-half
    .container
        .content-half__flex
            .content-half__part
                block content-half-left
            .content-half__part
                block content-half-right
block content-half-bottom