section.system.section-gray
    .container
        .system__title
            |Cистема работы с нами
        .swiper-container.js-slider-system
            .system__list.swiper-wrapper
                .system__item.swiper-slide
                    .system__img
                        img(src="img/system/system_icon1.png")
                    .system__bar
                    .system__text
                        |1. Задача
                    .system__description
                        |На первом этапе описывается
                        |потребность,
                        |заполняется бриф, ставится
                        |задача

                .system__item.swiper-slide
                    .system__img
                        img(src="img/system/system_icon2.png")
                    .system__bar
                    .system__text
                        |2. Решение
                    .system__description
                        |Мы готовим расширенное коммерческое
                        |предложение с различными вариантами решения
                        |поставленной задачи

                .system__item.swiper-slide
                    .system__img
                        img(src="img/system/system_icon3.png")
                    .system__bar
                    .system__text
                        |3. Оформление заказа
                    .system__description
                        |Вы выбираете оптимальное решение,
                        |производите оплату, происходит
                        |подписание договора

                .system__item.swiper-slide
                    .system__img
                        img(src="img/system/system_icon4.png")
                    .system__bar
                    .system__text
                        |4. Разработка
                    .system__description
                        |Мы разрабатываем концепцию,
                        |готовим макеты, происходит утверждение
                        |макетов и образцов*

                .system__item.swiper-slide
                    .system__img
                        img(src="img/system/system_icon5.png")
                    .system__bar.done
                        .btn.btn-check-mark.system__btn-done
                    .system__text
                        |5. Выполнение
                    .system__description
                        |В течение 10 дней* мы изготавливаем
                        |рекламную продукцию и отгружаем ее Вам

        .system__bottom
            a(href='#').btn.btn-fix.system__bottom-btn Начать
            .system__bottom-text
                |* Изготовление образцов и сроки производства 
                |могут варьироваться в зависимости от технологий 
                |производства продукции           