.system {

    &__title {
        font-size: 25px;
        color: rgb(60, 65, 76);
        line-height: 1.2;
        font-weight: 500;
    }

    &__text {
        font-size: 19px;
        font-weight: 400;
        color: rgb(53, 53, 66);
        line-height: 1.2;
    }

    &__description {
        font-size: 12px;
        color: rgba(53, 53, 66, 0.6);
        line-height: 1.5;
        font-weight: 400;

    }

    &__list {
        margin-top: 60px;
        display: flex; 
      }

      &__bottom {
          display: flex;
          justify-content: space-between;
          margin-top: 30px;
          &-btn {

          }

          &-text {
            font-size: 9px;
            color: rgba(53, 53, 66, 0.4);
            line-height: 1.2;
            font-weight: 400;

          }

      }

}

