section.slider-about
    .container
        ul.slider-about__list.js-slider-about
            li.slider-about__item
                 a.slider-about__link(href="#")
                    img.slider-about__img(src="img/slider-about/slide_icon1.png")
            li.slider-about__item
                 a.slider-about__link(href="#")
                    img.slider-about__img(src="img/slider-about/slide_icon2.png")
            li.slider-about__item
                 a.slider-about__link(href="#")
                    img.slider-about__img(src="img/slider-about/slide_icon3.png")
            li.slider-about__item
                 a.slider-about__link(href="#")
                    img.slider-about__img(src="img/slider-about/slide_icon4.png")
            li.slider-about__item
                 a.slider-about__link(href="#")
                    img.slider-about__img(src="img/slider-about/slide_icon5.png")
            li.slider-about__item
                 a.slider-about__link(href="#")
                    img.slider-about__img(src="img/slider-about/slide_icon5.png")
            li.slider-about__item
                 a.slider-about__link(href="#")
                    img.slider-about__img(src="img/slider-about/slide_icon5.png")
            li.slider-about__item
                 a.slider-about__link(href="#")
                    img.slider-about__img(src="img/slider-about/slide_icon5.png")