.slider-about {
    @include p-top(3);
    @include p-bottom(3);

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        padding: 0 180px;
    }

    .slider-about &__item {
        display: inline-flex;
        align-items: center;
        max-width: 120px;
        height: 75px;
        margin: 0 35px;
    }

    &__img {
        max-height: 75px;
    }

}