.slider-about {
    margin-top: 180px;

    &__list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    &__item {
        margin-right: 25px;

        &:last-child {
            margin-right: 0;
        }

    }

    &__img {
        height: 100%;
        width: 100%;
    }

}