section.slider-about
    .container
        .slider-about__list.js-slider-about
            a.slider-about__item(href="#")
                img.slider-about__img(src="img/slider-about/slide_icon1.png")
            a.slider-about__item(href="#")
                img.slider-about__img(src="img/slider-about/slide_icon2.png")
            a.slider-about__item(href="#")
                img.slider-about__img(src="img/slider-about/slide_icon3.png")
            a.slider-about__item(href="#")
                img.slider-about__img(src="img/slider-about/slide_icon4.png")
            a.slider-about__item(href="#")
                img.slider-about__img(src="img/slider-about/slide_icon5.png")
            a.slider-about__item(href="#")
                img.slider-about__img(src="img/slider-about/slide_icon5.png")
            a.slider-about__item(href="#")
                img.slider-about__img(src="img/slider-about/slide_icon5.png")
