.header {

 @include to($break_lg) {
   &.active {
     position: fixed;
     width: 100%;
     min-height: 100%;
     z-index: 100;
   }
 }

  & h1 {
    position: relative;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 500;

    @include md-block {
      font-size: 39px;
      line-height: 1;
      margin-bottom: 0;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    z-index: 100;

    @include lg-block {
      position: relative;
      margin: inherit;
      width: auto;
    }

    &-desktop {
      display: none;
      @include md-block {
        display: block;
      }
    }

    &-mobile {
      @include md-block {
        display: none;
      }
    }
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(15px);
    filter: blur(15px);
    z-index: 0;
    padding: 30px;
    margin: -30px;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #131331;
      opacity: .4;
      z-index: -1;
    }
  }

  &__bottom {
    position: relative;
    overflow: hidden;
    height: auto;

    &-inner {
      position: relative;
      padding-top: 45px;
      margin-bottom: 60px;

      @include md-block {
        padding-top: 75px;
        margin-bottom: 110px;
      }
    }

    &-flex {
      @include row-flex();
      @include container();
    }

    &-left,
    &-right {
      @include col();
      @include size-lg(8);
      @include size(16);
    }

    &-right {
      text-align: right;
      @include to($break_md) {
        text-align: left;
        margin-top: 10px;
      }
    }

    &-full {
      @include col();
      @include size($columns);
    }
  }

  &__top {
    display: none;
    background-color: #fff;
    @include sm-block {
      display: block;
    }

    &-inner {
      @include row-flex();
      min-height: 30px;
      align-items: center;
    }

    &-left {
      @include col();
      @include size-lg(12);
      @include size-md(16);
    }

    &-right {
      @include col();
      @include size-lg(4);
      @include size-md(0);
      text-align: right;
      display: none;
      @include lg-block {
        display: block;
      }
    }
  }

  &__contact {
    display: inline-block;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    &, & a {
      font-size: 12px;
      color: rgb(205, 216, 225);
      line-height: 1.2;
      font-style: normal;
      font-weight: 300;
      display: inline-block;
      text-decoration: none;
    }

    &-list {
      list-style-type: none;
    }

    &_phone {
      position: relative;
      margin-left: 15px;

      &::before {
        content: "";
        position: absolute;
        left: -15px;
        right: auto;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 10px;
        height: 10px;
        background-size: 10px;
        background-image: url(icon-phone-gray());
        background-repeat: no-repeat;
      }
    }

    &_address {
      position: relative;
      margin-left: 15px;

      &::before {
        content: "";
        position: absolute;
        left: -15px;
        right: auto;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 8px;
        height: 10px;
        background-size: 8px 10px;
        background-image: url(icon-local-gray());
        background-repeat: no-repeat;
      }
    }

    &_mail {
      position: relative;
      margin-left: 15px;

      &::before {
        content: "";
        position: absolute;
        left: -15px;
        right: auto;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 11px;
        height: 9px;
        background-size: 11px 9px;
        background-image: url(icon-mail-gray());
        background-repeat: no-repeat;
      }
    }
  }

  &__attention {
    display: inline-block;
    position: relative;
    margin-left: 20px;
    font-size: 12px;
    color: rgb(205, 216, 225);
    line-height: 1.2;
    font-style: normal;
    font-weight: 300;

    &:before {
      content: "";
      position: absolute;
      left: -20px;
      right: auto;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 13px;
      height: 12px;
      background-size: 13px 12px;
      background-image: url(icon-attention-gray());
      background-repeat: no-repeat;
    }
  }

  &__main {
    box-shadow: 0px -4px 10px rgba(1, 1, 1, 0.1);
    background-color: #ffffff;

    &-inner {
      @include row-flex();
      position: relative;
      align-items: center;
      height: 58px;
      @include md-block {
        height: 90px;
      }
    }

    &-left {
      @include col();
      @include size-lg(3);
      @include size(8);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-right {
      @include col();
      @include size-lg(13);
      @include size(8);
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &-menu {
    list-style-type: none;
    display: none;
    margin-right: 16px;

    &.active {
      @include to($break_lg) {
        display: block;
        position: fixed;
        top: 123px;
        left: 0;
        width: 100%;
        min-height: 100%;
        background-color: #fff;
        margin: auto;
        text-align: left;
        padding: 20px;
        z-index: 100;
        box-sizing: border-box;
      }

      @include to($break_md){
        top: 91px;
      }
      @include to($break_sm){
        top: 61px;
      }
    }

    @include lg-block {
      display: inline-flex;
    }

    &.active &__item {
      @include to($break_lg) {
        margin: 0 0 10px 0;
      }
    }


    &__item {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__link {
      font-size: 15px;
      color: #b4bfc7;
      line-height: 1.2;
      text-decoration: none;
    }

    &__item.active &__link {
      color: #1d9ddf;
    }

  }

  & .search__block {
    margin-left: 16px;
    @include to($break_md) {
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
      margin-left: 0;
      margin-right: 15px;
    }
    .ajax__search-result {
      position: absolute;
      top: calc(100% + 12px);
      width: 100%;
      background: white;
      min-height: 15px;
      left: 0;
      box-shadow: 0 4px 20px rgba(0,0,0,.4);
      border-radius: 6px;
      max-height: 256px;
      overflow: hidden;
      display: none;

      .header-basket__product {
        justify-content: end;
        height: auto;
        .header-basket__product-center {
          width: calc(100% - 60px);
        }
        .header-basket__product-center>div{
          text-align: left;
        }
      }
    }
  }

  &-basket {
    @include to($break_md) {
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
      margin-right: -8px;
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background-position-x: 12px;
      overflow: hidden;

      &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: auto;
        right: -3px;
        margin: auto;
      }
    }
  }

  &__mobile-menu {
    &-icon {
      margin-left: 12px;
      @include lg-block {
        display: none;
      }
    }
  }
}
.js-search-activate.active {
 .ajax__search-result {
    display: block;
 } 
}
.btn.not-availible, .btn.not-availible:hover {
  cursor: default;
  background: #dddddd;
  box-shadow: none;
}