// Компоненты Pug
// Если это миксин подключается в шапке файла, а вызов идет через "+" (плюс), например: +breadcrumbs(breadcrumbs)
include ../../components/breadcrumbs/breadcrumbs

header.header
    .container
        .header__top
            .header__top-left
                .header__top-contact
                    .contact__tel(href="tel:+74952252528")
                    span.contact__number +7&nbsp;(495)&nbsp;225-25-28
                        span.contact__hours (пн-пт 10-18)
                    span.contact__address г. Москва, Профсоюзная ул., 23
                    .contact__mail(href="mailto:info@gifton.ru") info@gifton.ru
            .header__top-right
                .important-text 25 000 ₽ - мин. сумма заказа
    .header__main
        .header__main-right
            .header-menu
                .header-menu__item
                    a.header-menu__link(href="") Главная
                .header-menu__item
                    a.header-menu__link(href="") О нас
                .header-menu__item
                    a.header-menu__link(href="") Портфолио
                .header-menu__item
                    a.header-menu__link(href="") Каталог
                .header-menu__item
                    a.header-menu__link(href="") Услуги

        .header__main-left

    .header__bottom(style={"background-image": `url(${bg})`})
        .container
            h1=title
            +breadcrumbs(breadcrumbs)

