//- Компоненты Pug
//- Если это миксин подключается в шапке файла, а вызов идет через "+" (плюс), например: +breadcrumbs(breadcrumbs)
include ../../components/breadcrumbs/breadcrumbs
include ../../components/select-quantity-mini/select-quantity-mini

header.header
    .header__top
        .container
            .header__top-inner
                .header__top-left
                    ul.header__contact-list
                        li.header__contact
                            a.header__contact_phone(href="tel:+74952252528") +7&nbsp;(495)&nbsp;225-25-28
                            | &nbsp;
                            span (пн-пт 10-18)
                        li.header__contact.header__contact_address г. Москва, Профсоюзная ул., 23
                        li.header__contact
                            a.header__contact_mail(href="mailto:info@gifton.ru") info@gifton.ru
                .header__top-right
                    .header__attention 25 000 ₽ - мин. сумма заказа
    .header__main
        .container
            .header__main-inner
                .header__main-left
                    a(href="/").haeder__logo
                        img(src='img/header/header-logo.png')
                .header__main-right.search__wrap.js-search-activate
                    ul.header-menu
                        li.header-menu__item.active
                            a.header-menu__link(href="#") Главная
                        li.header-menu__item
                            a.header-menu__link(href="#") О нас
                        li.header-menu__item
                            a.header-menu__link(href="#") Портфолио
                        li.header-menu__item
                            a.header-menu__link(href="#") Каталог
                        li.header-menu__item
                            a.header-menu__link(href="#") Услуги
                    include ../../components/header-basket/header-basket

                    include ../../components/search/search
    include ../../components/color-line/color-line

    .header__bottom(style={"background-image": `url(${bg})`})
        .container
            .header__bottom-flex
                if titleDate || titleBalloon
                    .header__bottom-full
                        h1.title-balloon(data-title-date=titleDate class=titleDate ? 'title-date' : '')=title
                        +breadcrumbs(breadcrumbs)
                else
                    .header__bottom-left
                        h1=title
                        +breadcrumbs(breadcrumbs)
                    .header__bottom-right
                        block header-bottom-right



