.product-card {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 20px 0 rgba(1, 1, 1, 0.15);
  box-sizing: border-box;

  .rows & {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 160px;

    @include xl-block {
      height: 180px;
    }

    @include to($break_md) {
      position: relative;
      flex-wrap: wrap;
      height: auto;
    }
  }

  .blocks & {
    @include col();
    @include size-xl(4); // Ставим 4, так как не считаем сайдбар
    @include size-sm(8);
    @include size(16);
    height: 270px;
    display: flex;
    flex-direction: column;
  }

  &.in-basket {
    box-shadow: 0 4px 20px 0 rgba(185, 207, 27, 0.3);
  }

  &.empty {
    background-color: #ffffff;
    border: 2px solid #ecf1f5;
    box-shadow: none;
  }

  &__list {

    &.blocks {
      @include row-flex();
      flex-wrap: wrap;
    }
  }

  &__inner {
    position: relative;
    box-sizing: border-box;
    display: flex;
    .blocks & {
      padding: 40px 20px 20px 20px;
      flex: 1 0 auto;
      flex-direction: column;
    }

    .rows & {
      padding: 20px 5px 20px 25px;
      align-items: center;
      justify-content: space-between;
      width: 77%;
      height: 100%;

      @include xl-block {
        width: 75%;
        padding: 40px 25px 40px 60px;
      }

      @include to($break_md) {
        width: 71%;
        flex-wrap: wrap;
        height: auto;
        padding: 20px 30px;
        align-self: flex-start;
      }

      @include to($break_sm) {
        width: 100%;
      }
    }
  }
  
  &__img {
    width: 88px;
    height: 88px;

    @include to($break_md) {
      margin-right: 10px;
      margin-bottom: 10px;
    }

    & img {
      height: 100%;
    }

    &-wrap {
      position: relative;
    }

    .blocks & {
      margin: auto;
    }
  }

  &__title {
    display: block;
    font-size: 13px;
    color: rgb(50, 57, 77);
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 10px;
    overflow: hidden;
    max-height: 70px;

    @include xl-block {
      font-size: 14px;
    }

    .blocks & {
      margin-bottom: 0;
      line-height: 15px;
      height: 28px;
      overflow-y: hidden;
    }
  }

  &__info {
    max-width: 116px;
    width: 100%;

    @include xl-block {
      max-width: 136px;
    }

    @include to($break_md) {
      max-width: 65%;
    }
    @include to($break_sm) {
      max-width: 100%;
    }

    .blocks & {
      max-width: 100%;
      margin-top: 20px;
    }
  }

  &__article {
    font-size: 9px;
    color: rgba(60, 65, 76, 0.6);

    // Если товар в корзине, то меняем цвет текста у артикула, проверяя, есть ли модификатор у карточки товара
    .in-basket & {
      color: #b9cf1b;
    }
  }

  &__price {
    font-size: 10px;
    color: #b9cf1b;
    font-weight: 600;
    margin-bottom: 10px;

    .empty & {
      color: #b6b7b9;
    }

    .blocks & {
      display: none;
    }
  }

  &__marker {
    align-self: flex-start;
    font-size: 9px;
    color: #fff;
    font-weight: 500;
    padding: 6px 8px;
    border-radius: 11px;
    box-shadow: 0 4px 10px rgba(1, 1, 1, 0.1);
    background-color: #0a95dd;
    line-height: normal;
    box-sizing: border-box;
    margin-bottom: 6px;

    &:last-child {
      margin-bottom: 0;
    }

    &-list {
      position: absolute;
      top: 15px;
      left: 15px;
      display: flex;
      flex-direction: column;
      align-self: flex-start;

      @include lg-block {
        top: 20px;
        left: 20px;
      }
    }

    &_new {
      width: auto;
      text-transform: uppercase;
      background-color: #f08340;
    }

    &_little {
      background-color: #d73124;
    }

    &_empty {
      color: #999ba5;
      background-color: #f3f3f3;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    min-width: 280px;

    @include to($break_md) {
      margin-top: 20px;
      min-width: auto;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    .blocks & {
      display: none;
    }
  }

  &__size {
    margin-right: 16px;
    width: 136px;

    @include to($break_md) {
      margin-right: 10px;
      width: 100%;
      margin-bottom: 10px;
    }
  }

  &__quantity {
    @include to($break_md) {
      margin-bottom: 10px;
    }
  }

  &__total-sum {
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
    color: #b9cf1b;
    font-weight: 600;

    .blocks & {
      display: none;
    }
  }

  &__order {
     box-sizing: border-box;
    .rows & {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 23%;
      min-height: 100%;
      padding: 10px 25px 10px 0;

      @include xl-block {
        width: 25%;
        padding: 40px 30px 40px 25px;
      }

      @include to($break_md) {
        position: absolute;
        right: 0;
        width: auto;
      }

      @include to($break_sm) {
        width: 100%;
        position: relative;
        padding: 0 30px 20px;
      }
    }

    .blocks & {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-height: 40px;
      height: 100%;
      flex: 0 1 auto;
      border-top: 1px solid #ecf1f5;
    }
  }

  &__blocks-price {
    display: none;

    .blocks & {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 100%;
      font-size: 14px;
      color: #b9cf1b;
      font-weight: 600;
    }
    .empty & {
      color: #b6b7b9;
    }
  }

  & .btn-white {
    .blocks & {
      border-left: 1px solid #ecf1f5;
      box-shadow: none;
    }
  }



  & .btn-basket {
    max-height: 40px;
    padding: 12px 15px;
    min-width: 115px;
    text-align: center;

    .blocks & {
      width: 50%;
      height: 100%;
      border-radius: 0 0 6px 0;
      font-size: 12px;
      font-weight: 600;
      text-align: center;
      padding: 12px 0;
      margin-bottom: 1px;
    }
  }

  &__select-color {
    width: 22px;
    height: 22px;
    margin-bottom: 5px;
    text-decoration: none;

    &:last-child {
      margin-bottom: 0;
    }

    &::nth-child(n + 6)  {
      display: none
      }

    & img {
      height: 100%;
    }

    &-list {
      position: absolute;
      top: 16px;
      right: 16px;
      display: flex;
      flex-direction: column;
      max-height: 130px;
      overflow: hidden;

      .rows & {
        display: none;
        position: relative;
        top: 0;
        bottom: 0;
      }
    }
  }
}