.content-right-sidebar {

  &_cut-bottom {
    margin-bottom: -50px;
  }

  &__flex {
    @include row-flex();
    @include to($break_lg) {
      flex-direction: column;
    }
  }

  & .sidebar {
    @include col();
    @include size-xl(4);
    @include size-lg(4.5);
    @include size(16);
  }

  & .content {
    @include col();
    @include size-xl(12);
    @include size-lg(11.5);
    @include size(16);
    @include to($break_lg) {
      margin-bottom: 16px;
    }
  }
}

