section.content-right-sidebar.content-right-sidebar_cut-bottom
    .container
        .content-right-sidebar__flex
            .content
                block content-right
            .sidebar
                block sidebar
block content-bottom