.announce {
  @include p-top(1.5);
  @include p-bottom(1.5);
  background-color: #fff;

  @include lg-block {
    @include p-top(4);
    @include p-bottom(4);
  }

  & .swiper-container {
    padding: 20px 8px;
    margin: -20px -8px;
  }

  &__inner {
    @include row-flex();
    justify-content: space-between;
    @include to($break_md) {
      flex-wrap: nowrap;
    }
  }

  &__col {
    @include col();
    @include size-lg(4);
    @include size-md(5);
    @include size(8);

    @include to($break_md) {
      width: 80%;
    }
  }

  &__content {
    @include col();
    @include size-lg(7);
    @include shift-lg-left(1);
    @include size(5.5);
    @include shift-left(.5);
    display: none;

    @include md-block {
      display: block;
    }

    &-box {
      padding-bottom: 20px;
      border-bottom: 2px solid #ecf1f5;;
      @include lg-block {
        padding-bottom: 50px;
      }

      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }

      &:nth-child(n + 2) {
        padding-top: 20px;
        @include lg-block {
          padding-top: 50px;
        }
      }
    }

    &-title {
      font-size: 16px;
      line-height: 25px;
      color: #3c414c;
      font-weight: 600;
      margin-bottom: 10px;
      @include lg-block {
        font-size: 19px;
        line-height: 28px;
        margin-bottom: 15px;
      }
    }

    &-text {
      font-size: 12px;
      line-height: 16px;
      color: #3c414c;
      font-weight: 400;
      @include lg-block {
        line-height: 18px
      }

      & p {
        margin-bottom: 10px;
        @include lg-block {
          margin-bottom: 15px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__title {
    position: relative;
    font-size: 25px;
    line-height: 1;
    color: #3c414c;
    font-weight: 500;
    padding-left: 16px;
    margin-bottom: 25px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: auto;
      margin: auto;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: #0a95dd;
    }
  }

  &__news &__title:before {
    background-color: #f08340;
  }

  &__list {
    flex-direction: column;
  }

  &__item {
    position: relative;
    height: 210px;
    border-radius: 6px;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 20px rgba(1,1,1,0.15);
    margin-bottom: 16px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-decoration: none;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(1deg, #3c414c 0%, rgba(60,65,76,0) 100%);
      border-radius: 6px;
      z-index: 0;
    }
  }

  &__name {
    font-size: 19px;
    color: #fff;
    font-weight: 500;
    line-height: 1.1;
    z-index: 1;
    max-height: 100px;
    overflow: hidden;
  }

  &__date {
    font-size: 10px;
    color: #ffffff;
    font-weight: 400;
    padding: 6px 10px;
    height: 22px;
    border-radius: 11px;
    background-color: #0a95dd;
    box-sizing: border-box;
    line-height: 1;
    z-index: 1;
  }

  &__news &__date {
    background-color: #f08340;
  }

  &__all {
    position: relative;
    height: 120px;
    border-radius: 6px;
    box-shadow: 0 4px 20px rgba(1,1,1,0.15);
    background-color: #fff;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-decoration: none;
    overflow: hidden;

    @include sm-block {
      padding: 30px;
      height: 210px;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: -140px;
      right: -70px;
      width: 194px;
      height: 194px;
      border-radius: 97px;
      background-color: #0a95dd;
      @include sm-block {
        bottom: -49px;
      }
    }

    &-name {
      font-size: 16px;
      color: #3c414c;
      font-weight: 500;

      @include sm-block {
        font-size: 25px;
      }
    }

    & .btn {
      width: 40px;
      height: 40px;
    }
  }

  &__news &__all:before {
    background-color: #f08340;
  }
}