.modal {
    &__inner {

    }

    &__close {

    }

    &__request-form__title {
        font-size: 18px;
        color: rgb(60, 65, 76);
        line-height: 1.2;
        font-weight: 500;

    }
}

