.modal {
  max-width: 570px;
  border-radius: 6px;

  &__inner {
    box-shadow: 0 4px 20px rgba(1, 1, 1, 0.15);
    background-color: #fff;
    border-radius: 6px;
    padding: 45px 60px;
  }

  &-list {
    display: none;
  }


  &__close {
      position: absolute;
      top: 24px;
      right: 24px;

  }

  &__title {
    font-size: 18px;
    color: rgb(60, 65, 76);
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 30px;
  }
}

.form {

  &__title {
    padding-bottom: 23px;
    font-size: 19px;
    color: rgb(60, 65, 76);
    line-height: 1.2;
    font-style: normal;
    font-weight: 500;
  }

  &__label {
    position: relative;
    display: block;
    margin-bottom: 8px;

    & .tooltip {
      display: none;
      position: absolute;
      right: -190px;
      top: 50%;
      margin: auto;
      left: auto;
      transform: translateY(-50%);
      @include lg-block {
        display: block;
      }
    }

    &-file {
      display: block;
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background-color: #37a8e3;
      cursor: pointer;

      &.success-file {
        background: #b9cf1b;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background: url("../img/icons/icon-clip.png") no-repeat center;
        width: 17px;
        height: 15px;
      }
    }
  }

  &__file {
    display: none;

    &-box {
      position: relative;
    }
  }

  .form &__input {
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 12px;
    border-radius: 6px;
    background-color: #f3f3f3;
    border: 2px solid rgb(236, 241, 245);
    font-size: 14px;
    line-height: 26px;
    color: #b4bfc7;
    font-weight: 500;
    box-sizing: border-box;
  }

  &__textarea {
    display: inline-block;
    padding: 10px;
    border: 2px solid rgb(236, 241, 245);
    background-color: #f3f3f3;
    width: 100%;
    height: 75px;
    font-size: 14px;
    color: rgb(180, 191, 199);
    line-height: 1.829;
    font-style: normal;
    font-weight: 500;
    box-sizing: border-box;
    resize: none;
    border-radius: 6px;

    &:focus,
    &:active {
      outline: none;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    @include to($break_lg) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
