.modal.modal__send-request.js-modal(data-modal-type='send-request')
    .btn-remove.modal__close.js-modal-close
    .modal__inner
        form(action='', method='post').form.modal__form.validator.js-contact-form
            .modal__title Отправить запрос
            label.form__label
                input.form__input(name="name" type="text" placeholder="Имя" data-validator-require='true')
            label.form__label
                input.form__input(name="email" type="text"  placeholder="Email" data-validator-require='true' data-validator-type='email')
            label.form__label
                input.form__input(name="company" type="text"  placeholder="Компания" data-validator-require='true')
            .form__file-box
                label.form__label
                    textarea.form__textarea(name="message", placeholder="Сообщение" data-validator-require='true')
            .form__block
                label.form__label.form__label_checkbox
                    input.form__input-checkbox.js-validator-agree(type="checkbox" name="agree")
                    span.form__input-checkbox-custom
                    span.form__label-text Даю согласие на обработку персональных данных
                label.form__label-file
                    input.form__file(name='file' type='file' )
                button.btn.btn-fix.request__btn(type='submit' disabled=true) Отправить
