.choice-block {

  @mixin choice-block-arrow() {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../img/choice-block/arrow.png") no-repeat center;
    background-size: contain;
    width: 90px;
    height: 22px;

    @include lg-block {
      width: 231px;
      height: 54px;
    }
  }

  &__wrap {
    @include m-top(1.5);
    @include p-bottom(1.5);
    @include lg-block {
      @include m-top(4);
      @include p-bottom(4);
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left,
  &__right {
    height: 120px;
    box-shadow: 0 4px 20px rgba(1,1,1,0.15);
    background-color: #fff;
    width: 50%;
    @include lg-block {
      height: 300px;
    }
  }

  &__left {
    position: relative;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;

    &-box {
      position: absolute;
      right: 25px;
      top: 0;
      bottom: 0;
      left: auto;
      margin: auto;
      display: flex;
      align-items: center;
      @include lg-block {
        right: 76px;
      }
    }
  }

  &__done {
    position: relative;
    background: url("../img/choice-block/done.png") no-repeat center;
    background-size: contain;
    width: 70px;
    height: 70px;

    @include lg-block {
      width: 153px;
      height: 153px;
      margin-left: 30px;
    }

    &:before {
      content: 'Да';
      position: absolute;
      display: inline-table;
      top: 0;
      bottom: 0;
      left: auto;
      right: -10px;
      margin: auto;
      font-size: 36px;
      line-height: 1;
      color: rgba(70, 74, 84, .2);
      font-weight: 700;
      text-align: center;
      @include lg-block {
        right: -30px;
        font-size: 100px;
      }
    }
  }

  &__right {
    position: relative;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;

    &-box {
      position: absolute;
      left: 25px;
      top: 0;
      bottom: 0;
      right: auto;
      margin: auto;
      display: flex;
      align-items: center;
      @include lg-block {
        left: 76px;
      }
    }
  }

  &__question {
    position: relative;
    background: url("../img/choice-block/question.png") no-repeat center;
    background-size: contain;
    width: 70px;
    height: 70px;

    @include lg-block {
      width: 153px;
      height: 153px;
      margin-right: 30px;
    }

    &:before {
      content: 'Нет';
      position: absolute;
      display: inline-table;
      top: 0;
      bottom: 0;
      left: -10px;
      right: auto;
      margin: auto;
      font-size: 36px;
      line-height: 1;
      color: rgba(70, 74, 84, .2);
      font-weight: 700;
      text-align: center;
      @include lg-block {
        left: -30px;
        font-size: 100px;
      }
    }
  }

  &__btn {
    display: none;
    width: 136px;
    height: 40px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    @include xl-block {
      display: block;
    }
  }

  &__center {
    &-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 135px;
      height: 100%;
      padding: 0 50px;
      box-sizing: border-box;

      @include lg-block {
        width: 288px;
      }

      &:before {
        @include choice-block-arrow();
      }
      &:after {
        @include choice-block-arrow();
        top: auto;
        bottom: 0;
        @include rotate();
      }
    }
  }

  &__title {
    font-size: 14px;
    line-height: 1.2;
    color: #3c414c;
    font-weight: 500;
    text-align: center;
    @include lg-block {
      font-size: 25px;
      margin-bottom: 10px;
    }
  }

  &__desc {
    display: none;
    font-size: 12px;
    line-height: 18px;
    color: #3c414c;
    font-weight: 400;
    text-align: center;
    @include lg-block {
      display: block;
    }
  }
}

