section.choice-block__wrap
    .choice-block
        .choice-block__inner
            .choice-block__left
                .choice-block__left-box
                    a(href='#').btn.btn-fix.choice-block__btn Знаю
                    .choice-block__done

            .choice-block__center
                .choice-block__center-box
                    .choice-block__title Вы знаете что&nbsp;выбрать?
                    .choice-block__desc Мы поможем найти, то&nbsp;что&nbsp;Вы&nbsp;ищете

            .choice-block__right
                .choice-block__right-box
                    .choice-block__question
                    a(href='#').btn.btn-fix.choice-block__btn Не знаю