mixin select-quantity(productId, value, max)
    .select-quantity
        .select-quantity__inner
            span.select-quantity__minus.js-quantity-minus -
            input.js-quantity-input(type="text" value=value data-product-id=productId data-quantity-max=max)
            span.select-quantity__plus.js-quantity-plus +
        .select-quantity__text шт.