section.map
    #map.map__inner
    .container
        a(href='https://30488.redirect.appmetrica.yandex.com/show_point_on_map?appmetrica_tracking_id=745803332332869252&desc=Работа&lang=ru&lat=55.675281&lon=37.560958&subtitle=Россия, Москва, Профсоюзная улица, 23' target='_blank').map__navigator
        .map__qr
            img(src='img/map/yandex-navigator.png')