section.not-found__wrap
    .container
        .not-found
            .not-found__block
                .not-found__title Упс... страница не найдена
                .not-found__desc Вернитесь назад или выберите другую страницу.
                a(href='/').btn.not-found__btn На главную

