-
    var products = [
        {
            img: 'img/header/basket-item-1.png',
            name: 'Рюкзак Classic Adicolor',
            price: 3690,
            quantity: 1505,
            quantityCurrent: 1500,
        },
        {
            img: 'img/header/basket-item-2.png',
            name: 'Зонт реверсивный',
            price: 1607,
            quantity: 160,
            quantityCurrent: 155,
        },
        {
            img: 'img/header/basket-item-3.png',
            name: 'Светильник Flexible',
            price: 1607,
            quantity: 160,
            quantityCurrent: 155,
        },{
            img: 'img/header/basket-item-3.png',
            name: 'Светильник Flexible',
            price: 1607,
            quantity: 160,
            quantityCurrent: 155,
        }
    ]