.checkout {
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(1,1,1,0.05);
  background-color: #fff;

  &__title {
    font-size: 19px;
    color: rgb(60, 65, 76);
    line-height: 1.2;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 30px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    padding: 20px;
    @include xl-block {
      flex-direction: row;
    }

    @include md-block {
      padding: 30px;
    }
  }

  &__alternative {
    padding: 20px;
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include blue-pattern();

    @include xl-block {
      min-height: 464px;
      max-width: 349px;
    }

    @include md-block {
      padding: 30px;
    }

    &-desc {
      font-size: 19px;
      color: #fff;
      font-weight: 500;
    }

    &-bottom {
      font-size: 12px;
      line-height: 18px;
      color: #fff;
      font-weight: 500;
      margin-top: 16px;
      @include md-block {
        margin-top: 0;
      }
    }
  }

  &-right {
    width: 100%;
    margin-top: 30px;

    @include xl-block {
      max-width: #{calc(100% - 349px)};
      margin-top: 0;
      margin-left: 48px;
    }
  }

  &-form {
    &__label {
      position: relative;
      display: block;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }

      & .tooltip {
        position: absolute;
        right: -190px;
        top: 50%;
        margin: auto;
        left: auto;
        transform: translateY(-50%);
        display: none;
      }

      &.active {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 15px;
          left: auto;
          margin: auto;
          width: 14px;
          height: 9px;
          background: url(icon-switch-on()) no-repeat center;
        }
      }
    }

    .checkout &__input {
      display: inline-block;
      width: 100%;
      height: 39px;
      padding: 12px;
      border-radius: 6px;
      background: rgb(255, 255, 255);
      border: 2px solid rgb(236, 241, 245);
      font-size: 14px;
      color: rgb(180, 191, 199);
      line-height: 1.829;
      font-style: normal;
      font-weight: 500;
      box-sizing: border-box;
    }

    &__label.active &__input {
      background: rgb(185, 207, 27);
      color: #fff;
      border: 2px solid rgb(185, 207, 27);
      @include placeholder {
        color: #fff;
      }
    }

    &__textarea {
      display: inline-block;
      padding: 10px;
      border: 2px solid rgb(236, 241, 245);
      border-radius: 6px;
      width: 100%;
      height: 174px;
      font-size: 14px;
      color: rgb(180, 191, 199);
      line-height: 1.829;
      font-style: normal;
      font-weight: 500;
      box-sizing: border-box;
      resize: none;

      &:focus,
      &:active {
        outline: none;
      }
    }
  }

  &-block {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    @include md-block {
      margin-top: 45px;
      flex-wrap: nowrap;
    }

    & .form__label {
      margin-bottom: 16px;
      @include md-block {
        margin-bottom: 0;
      }

      & span {
        display: inline-block;
        max-width: #{calc(100% - 40px)};
      }
    }
  }

  &-done {
    width: 100%;
    min-height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include blue-pattern();

    @include md-block {
      min-height: 570px;
    }

    &__inner {
      text-align: center;
      padding: 10px;
      box-sizing: border-box;
    }

    &__icon {
      max-width: 150px;
      height: 150px;
      width: 100%;
      background: url(icon-checkout-done-white()) no-repeat center;
      margin: auto;
    }

    &__title {
      font-size: 32px;
      color: #fff;
      font-weight: 600;
      margin-top: 40px;
      line-height: 1.1;

      @include md-block {
        font-size: 40px;
      }
    }

    &__desc {
      font-size: 16px;
      color: #fff;
      font-weight: 400;
      margin-top: 10px;
      line-height: 1.3;

      @include md-block {
        font-size: 18px;
      }
    }
  }
}
