section.banner-main__wrap
    .container
        .banner-main
            .banner-main__inner
                .banner-main__title
                    | Бизнес сувениры GIFTON
                .banner-main__text
                    | Прогрессивный рекламный инструмент
                .banner-main__block-list
                    .banner-main__block-item
                        .banner-main__block-top
                            .banner-main__block-img
                                img(src='img/banner-main/recognition.png')
                            .banner-main__block-title 78%
                        .banner-main__block-text
                            | Сувениров повышают узнаваемость бренда

                    .banner-main__block-item
                        .banner-main__block-top
                            .banner-main__block-img
                                img(src='img/banner-main/target-audience.png')
                            .banner-main__block-title 55%
                        .banner-main__block-text
                            | Сувениров увеличивают целевую аудиторию

                    .banner-main__block-item
                        .banner-main__block-top
                            .banner-main__block-img
                                img(src='img/banner-main/partnerships.png')
                            .banner-main__block-title 67%
                        .banner-main__block-text
                            | Корпоративных подарков поддерживают партнерские отношения

                    .banner-main__block-item
                        .banner-main__block-top
                            .banner-main__block-img
                                img(src='img/banner-main/income.png')
                            .banner-main__block-title 89%
                        .banner-main__block-text
                            | Сувенирной продукции покрывают расходы доходом