section.banner-main__wrap
    .container
        .banner-main
            .banner-main__inner
                .banner-main__title
                    | Причина оставить бизнес-подарок или промосувенир у себя
                .banner-main__block-list
                    .banner-main__block-item
                        .banner-main__block-top
                            .banner-main__block-img
                                img(src='img/banner-main/utility.png')
                            .banner-main__block-title 82%
                        .banner-main__block-text
                            | Полезность

                    .banner-main__block-item
                        .banner-main__block-top
                            .banner-main__block-img
                                img(src='img/banner-main/attractiveness.png')
                            .banner-main__block-title 29%
                        .banner-main__block-text
                            | Привлекательность

                    .banner-main__block-item
                        .banner-main__block-top
                            .banner-main__block-img
                                img(src='img/banner-main/great.png')
                            .banner-main__block-title 26%
                        .banner-main__block-text
                            | Просто здорово!
                    .banner-main__block-item
                        .banner-main__block-top
                            .banner-main__block-img
                                img(src='img/banner-main/info.png')
                            .banner-main__block-title 6%
                        .banner-main__block-text
                            | Есть контактые данные
                .banner-main__text
                    | По материалам исследования ASI (Advertising Speciality Institute)