.color-line
    .container
        .color-line__inner
            .color-line__item.bg-light-blue
            .color-line__item.bg-green
            .color-line__item.bg-yellow
            .color-line__item.bg-red
            .color-line__item.bg-blue
            .color-line__item.bg-yellow
            .color-line__item.bg-orange
            .color-line__item.bg-light-green