mixin attention(isMin = false, isDisabled = false)
    .attention(class=isDisabled ? 'disabled' : '')
        if !isMin
            | 25 000 ₽ - Минимальная сумма заказа!
        else
            | 25 000 ₽ - Мин. сумма заказа!