section.advantages__wrap
    .container
        .advantages
            .advantages__inner
                .advantages__title 
                    |Преимущества работы с нами
                .advantages__list
                    .advantages__item
                        .advantages__img
                            img(src="img/advantages/advantages_icon1.png")    
                        .advantages__text
                            |1. Оперативное изготовление продукции  
                        .advantages__description
                            |срок выполнения заказов начинается от 
                            |3-х рабочих дней для стандартной 
                            |складской продукции  

                    .advantages__item
                        .advantages__img
                            img(src="img/advantages/advantages_icon2.png")    
                        .advantages__text
                            |2. Более 100 каталогов 
                        .advantages__description
                            |работая с наибольшим количеством 
                            |Российских, Европейских и Китайских 
                            |поставщиков 

                    .advantages__item
                        .advantages__img
                            img(src="img/advantages/advantages_icon3.png")    
                        .advantages__text
                            |3. Гибкая ценовая политика 
                        .advantages__description
                            |для наших постоянных клиентов мы 
                            |предоставляем скидки

                    .advantages__item
                        .advantages__img
                            img(src="img/advantages/advantages_icon4.png")    
                        .advantages__text
                            |4. Профессиональное оформление подарков  
                        .advantages__description
                            |любой сувенир станет настоящим 
                            |подарком при профессиональном подходе 
                            |вопросу упаковки 

                    .advantages__item
                        .advantages__img
                            img(src="img/advantages/advantages_icon5.png")    
                        .advantages__text
                            |5. Разработка готовых решений 
                        .advantages__description
                            |Вы всегда сможете найти у нас готовые 
                            |решения для ваших бизнес-задач

                    .advantages__item
                        .advantages__img
                            img(src="img/advantages/advantages_icon6.png")    
                        .advantages__text
                            |6. Специализация на рекламной продукции 
                        .advantages__description
                            |производство подарков - наша работа.Мы 
                            |действительно знаем о подарках все!


