.contacts {
  position: relative;
  @include m-bottom(1);

  @include lg-block {
    padding: 60px 70px;
    min-height: 780px;
    border-radius: 6px;
    box-shadow: 0 4px 20px rgba(1, 1, 1, 0.15);
    background-color: #fff;
    box-sizing: border-box;
    @include m-bottom(3);
    overflow: hidden;
  }

  &__wrap {
    & .container {
      @include to($break_lg) {
        padding: 0;
      }
    }
  }

  &-navigator {
    position: absolute;
    background: url("../img/contacts/contact-navigator.png") no-repeat center;
    width: 70px;
    height: 70px;
    top: 25%;
    z-index: 1;


    @include lg-block {
      display: none;
    }
  }

  &-qr {
    position: absolute;
    top: 42px;
    right: 50px;
    z-index: 1;
    display: none;
    @include lg-block {
      display: block;
    }
  }

  &__box {
    margin: auto;
    z-index: 1;
    @include lg-block {
      max-width: 483px;
      margin-right: auto;
      margin-left: 0;
    }

    @include to($break_lg) {
      @include container();
      min-height: 800px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &-map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 210px;
    z-index: 0;
    border-radius: .5%;
    overflow: hidden;

    @include m-top(4);

    @include lg-block {
      margin-top: 0;
      height: 100%;
    }
  }

  &-info {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 4px 20px 0 rgba(1, 1, 1, 0.15);
    z-index: 2;

    @include lg-block {
      margin-bottom: 16px;
    }

    &__inner {
      padding: 30px;
      box-sizing: border-box;
      @include lg-block {
        padding: 45px 60px;
      }
    }

    &__content {
      color: rgb(50, 57, 77);
      font-size: 12px;
      line-height: 2.143;
      font-style: normal;
      font-weight: 500;
      text-align: left;
      margin-left: 15px;
      text-decoration: none;

      @include sm-block {
        font-size: 14px;

      }
    }

    &__row {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-form {
    position: relative;
    border-radius: 6px;
    box-shadow: 0 4px 20px rgba(1, 1, 1, 0.15);
    background-color: #ffffff;
    padding: 30px;
    box-sizing: border-box;
    z-index: 2;

    @include lg-block {
      padding: 55px 60px;
      margin-bottom: 0;
    }

    &__title {
      padding-bottom: 23px;
      font-size: 19px;
      color: rgb(60, 65, 76);
      line-height: 1.2;
      font-style: normal;
      font-weight: 500;
    }

    &__label {
      position: relative;
      display: block;
      margin-bottom: 8px;

      & .tooltip {
        display: none;
        position: absolute;
        right: -190px;
        top: 50%;
        margin: auto;
        left: auto;
        transform: translateY(-50%);
        @include lg-block {
          display: block;
        }
      }

      &-file {
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #37a8e3;
        right: 5px;
        bottom: 10px;
        cursor: pointer;

        &.success-file {
          background: #b9cf1b;        
        }

        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          background: url("../img/icons/icon-clip.png") no-repeat center;
          width: 17px;
          height: 15px;
        }
      }
    }

    &__file {
      display: none;

      &-box {
        position: relative;
      }
    }

    .contacts &__input {
      display: inline-block;
      width: 100%;
      height: 39px;
      padding: 12px;
      border-radius: 6px;
      background: rgb(255, 255, 255);
      border: 2px solid rgb(236, 241, 245);
      font-size: 14px;
      color: rgb(180, 191, 199);
      line-height: 1.829;
      font-style: normal;
      font-weight: 500;
      box-sizing: border-box;
    }


    &__textarea {
      display: inline-block;
      padding: 10px;
      border: 2px solid rgb(236, 241, 245);
      width: 100%;
      height: 75px;
      font-size: 14px;
      color: rgb(180, 191, 199);
      line-height: 1.829;
      font-style: normal;
      font-weight: 500;
      box-sizing: border-box;
      resize: none;
      border-radius: 6px 6px 24px 6px;

      &:focus,
      &:active {
        outline: none;
      }
    }

  }

  &-block {
    display: flex;
    align-items: center;

    @include to($break_lg) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  & .form__label {
    width: 60%;
    margin-bottom: 30px;

    @include lg-block {
      margin-bottom: 0;
    }

    &-text {
      width: 70%;
      @include lg-block {
        display: inline-block;
        width: #{calc(100% - 40px)};
      }
    }
  }

  &__btn {
    @include lg-block {
      margin-left: auto;
    }
  }
}
p.success-file, p.mess-success {
  color: #b9cf1b;        
}
p.error-file, p.mess-error {
  color: #d73124;
}