extends layouts/pages
block variables
	- var title = "Список страниц - GIFTON"

block content
	.container
		ul
			li
				a(href='catalog.html') Каталог
			li
				a(href='catalog-product-list.html') Каталог - список товаров
			li
				a(href='catalog-product.html') Каталог - карточка товара
			li
				a(href='basket.html') Корзина
			li
				a(href='order.html') Оформление заказа
			li
				a(href='order-success.html') Оформление заказа - успешно
			li
				a(href='ui-kit.html') UI-Kit