.search__block
    .btn-remove.js-search-close
    form.search.js-search(action='', method="GET")
        input(type="text" name="q" placeholder="поиск..." autocomplete="off")
        button.btn.btn-rounded.btn-rounded_medium.btn-search
            span Поиск