
form.search(action='', method="GET")
    input(type="text" name="q" placeholder="поиск...")
    button.btn.btn-rounded.btn-rounded_medium.btn-search
    //.search__block.show
    //   .btn-remove
    //   include ../catalog-search/catalog-search