extends ../views/layouts/default

block variables
	- var title = "Корзина";
	//- Данные для миксинов Pug
	include ../data/basket

block content
	include ../blocks/modules/content-right-sidebar/content-right-sidebar

block header-bottom-right
	include ../blocks/components/order-header-info/order-header-info
	+order-header-info(true)



