extends ../views/layouts/default
include ../blocks/components/catalog-category/catalog-category
include ../blocks/components/type-application/type-application

block variables
	- var title = "Каталог - список товаров";
	//- Данные для миксинов Pug
	include ../data/catalog-product-list

block content
	include ../blocks/modules/content-with-sidebar/content-with-sidebar
