extends ../views/layouts/default

block variables
	- var title = "Каталог - карточка товара";
	//- Данные для миксинов Pug
	include ../data/catalog-product

block content
	include   ../blocks/modules/content-half/content-half



