extends ../views/layouts/default
include ../blocks/components/catalog-category/catalog-category
include ../blocks/components/type-application/type-application

block variables
	- var title = "Каталог";
	//- Данные для миксинов Pug
	include ../data/catalog

block content
	+catalog-category(catalogCategory)
	+type-application(typeApplication.title, typeApplication.list)
