extends ../views/layouts/default
include ../blocks/components/catalog-category-main/catalog-category-main

block variables
	- var title = "Главная";
	- var isMain = true;
	//- Данные для миксинов Pug
	include ../data/main

block content
	include ../blocks/components/product-recommended/product-recommended

	section.section-gray
		include ../blocks/components/banner-main/banner-main
		include ../blocks/components/choice-block/choice-block
	+catalog-category-main(catalogCategoryMain)
	+product-recommended(productRecommended)
	include ../blocks/components/brief/brief
	include ../blocks/components/map/map

