extends ../views/layouts/default

include ../blocks/components/news-detail/news-detail

block variables
	- var title = "Название новости";
	- var titleBalloon = "news-title-balloon"; //- Цвет маркера на заголовке
	- var titleDate = '12.03.19'
	//- Данные для миксинов Pug
	include ../data/news-detail

block content
	+news-detail()

