extends ../views/layouts/default
block variables
	- var title = "Текстовая страница";

block content
	.container
		.content-full.typography
			h2 Typography
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in elit consequat, ornare nisl id, pharetra augue. Nam sed magna id risus varius blandit. Sed suscipit tellus nisl, ut tempor tellus porta vel. Donec finibus sed odio in facilisis. Pellentesque at pellentesque mauris, eget aliquet dui. Suspendisse et elementum magna. Vestibulum sed dui molestie, aliquet eros ac, pharetra justo. Aenean aliquet molestie mattis. Nunc eget ex at sapien congue viverra vitae vel lectus. Fusce mauris justo, volutpat eget dolor id, cursus tincidunt dui. Maecenas nec porttitor leo.

			p
				| Integer porttitor, augue nec tincidunt vulputate, nunc leo congue ex, a pretium erat sapien et sem. Maecenas porta quis massa a commodo. Integer sed elementum neque, vitae tincidunt elit. Integer vulputate ex urna, vel luctus ante accumsan sit amet. Donec lorem quam, placerat sed imperdiet ultrices, commodo a massa. Morbi consequat pulvinar nisi, nec elementum lectus dignissim nec. Mauris pretium, mauris quis eleifend ullamcorper, massa neque vehicula magna, eu consectetur magna ligula sed libero. Pellentesque pharetra neque nisi. Vivamus tempor metus quis semper vehicula. Maecenas non lobortis est, nec cursus nisl. Nunc vel aliquet nibh, at sollicitudin nunc.

			.row
				.col-2
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in elit consequat, ornare nisl id, pharetra augue. Nam sed magna id risus varius blandit. Sed suscipit tellus nisl, ut tempor tellus porta vel. Donec finibus sed odio in facilisis. Pellentesque at pellentesque mauris, eget aliquet dui. Suspendisse et elementum magna. Vestibulum sed dui molestie, aliquet eros ac, pharetra justo. Aenean aliquet molestie mattis. Nunc eget ex at sapien congue viverra vitae vel lectus. Fusce mauris justo, volutpat eget dolor id, cursus tincidunt dui. Maecenas nec porttitor leo.

				.col-2
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in elit consequat, ornare nisl id, pharetra augue. Nam sed magna id risus varius blandit. Sed suscipit tellus nisl, ut tempor tellus porta vel. Donec finibus sed odio in facilisis. Pellentesque at pellentesque mauris, eget aliquet dui. Suspendisse et elementum magna. Vestibulum sed dui molestie, aliquet eros ac, pharetra justo. Aenean aliquet molestie mattis. Nunc eget ex at sapien congue viverra vitae vel lectus. Fusce mauris justo, volutpat eget dolor id, cursus tincidunt dui. Maecenas nec porttitor leo.
			.row
				.col-4
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in elit consequat, ornare nisl id, pharetra augue. Nam sed magna id risus varius blandit. Sed suscipit tellus nisl, ut tempor tellus porta vel. Donec finibus sed odio in facilisis. Pellentesque at pellentesque mauris, eget aliquet dui. Suspendisse et elementum magna. Vestibulum sed dui molestie, aliquet eros ac, pharetra justo. Aenean aliquet molestie mattis. Nunc eget ex at sapien congue viverra vitae vel lectus. Fusce mauris justo, volutpat eget dolor id, cursus tincidunt dui. Maecenas nec porttitor leo.
				.col-4
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in elit consequat, ornare nisl id, pharetra augue. Nam sed magna id risus varius blandit. Sed suscipit tellus nisl, ut tempor tellus porta vel. Donec finibus sed odio in facilisis. Pellentesque at pellentesque mauris, eget aliquet dui. Suspendisse et elementum magna. Vestibulum sed dui molestie, aliquet eros ac, pharetra justo. Aenean aliquet molestie mattis. Nunc eget ex at sapien congue viverra vitae vel lectus. Fusce mauris justo, volutpat eget dolor id, cursus tincidunt dui. Maecenas nec porttitor leo.
				.col-4
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in elit consequat, ornare nisl id, pharetra augue. Nam sed magna id risus varius blandit. Sed suscipit tellus nisl, ut tempor tellus porta vel. Donec finibus sed odio in facilisis. Pellentesque at pellentesque mauris, eget aliquet dui. Suspendisse et elementum magna. Vestibulum sed dui molestie, aliquet eros ac, pharetra justo. Aenean aliquet molestie mattis. Nunc eget ex at sapien congue viverra vitae vel lectus. Fusce mauris justo, volutpat eget dolor id, cursus tincidunt dui. Maecenas nec porttitor leo.
				.col-4
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in elit consequat, ornare nisl id, pharetra augue. Nam sed magna id risus varius blandit. Sed suscipit tellus nisl, ut tempor tellus porta vel. Donec finibus sed odio in facilisis. Pellentesque at pellentesque mauris, eget aliquet dui. Suspendisse et elementum magna. Vestibulum sed dui molestie, aliquet eros ac, pharetra justo. Aenean aliquet molestie mattis. Nunc eget ex at sapien congue viverra vitae vel lectus. Fusce mauris justo, volutpat eget dolor id, cursus tincidunt dui. Maecenas nec porttitor leo.
			.row
				.col-2-half
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in elit consequat, ornare nisl id, pharetra augue. Nam sed magna id risus varius blandit. Sed suscipit tellus nisl, ut tempor tellus porta vel. Donec finibus sed odio in facilisis. Pellentesque at pellentesque mauris, eget aliquet dui. Suspendisse et elementum magna. Vestibulum sed dui molestie, aliquet eros ac, pharetra justo. Aenean aliquet molestie mattis. Nunc eget ex at sapien congue viverra vitae vel lectus. Fusce mauris justo, volutpat eget dolor id, cursus tincidunt dui. Maecenas nec porttitor leo.
					|  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in elit consequat, ornare nisl id, pharetra augue. Nam sed magna id risus varius blandit. Sed suscipit tellus nisl, ut tempor tellus porta vel. Donec finibus sed odio in facilisis.
				.col-1-half
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in elit consequat, ornare nisl id, pharetra augue. Nam sed magna id risus varius blandit. Sed suscipit tellus nisl, ut tempor tellus porta vel. Donec finibus sed odio in facilisis. Pellentesque at pellentesque mauris, eget aliquet dui. Suspendisse et elementum magna. Vestibulum sed dui molestie, aliquet eros ac, pharetra justo. Aenean aliquet molestie mattis. Nunc eget ex at sapien congue viverra vitae vel lectus. Fusce mauris justo, volutpat eget dolor id, cursus tincidunt dui. Maecenas nec porttitor leo.

