mixin select(options, nameSelect, jsSelector = "js-select", data = false)
    -
        var dataAttr = {};
        if (data) {
            for (var item in data) {
                 dataAttr[`data-${item}`]=data[item];
            }
        }
    if options
        select(name=nameSelect class=['select', jsSelector])&attributes(dataAttr)
            for option in options
                option(value=option.value)=option.name