.project {

  &-pic {
    & img {
      border-radius: 6px;
      width: 100%;
      height: auto;
      box-shadow: 0 4px 20px rgba(1, 1, 1, 0.15);
      max-width: 100%;
      max-height: 100%;
    }

    & > img {
      margin-bottom: 10px;
      max-width: 100%;
      max-height: 100%;
    }

    &__half {
      @include row-flex();
      justify-content: space-between;
      margin-bottom: 16px;
      align-items: flex-start;

      & img {
        @include col();
        @include u-size(4, 8, $offset);
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  &-content {
    border-radius: 6px;
    box-shadow: 0 4px 20px rgba(1, 1, 1, 0.15);
    background-color: #fff;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 20px;
    color: #3c414c;
    font-weight: 500;
    @include lg-block {
      font-size: 14px;
      line-height: 21px;
    }

    &__bottom {
      padding: 30px;
      box-sizing: border-box;
      @include lg-block {
        padding: 60px;
      }

      & > p {
        margin-bottom: 10px;
        @include lg-block {
          margin-bottom: 16px;
        }
      }
    }

    &__top {
      box-sizing: border-box;
      padding: 30px;
      border-bottom: 1px solid #ecf1f5;
      @include row-flex();

      @include lg-block {
        padding: 60px;
      }
    }

    &__option {
      display: flex;
      margin-bottom: 10px;
      @include lg-block {
        margin-bottom: 16px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &-name {
        font-size: 12px;
        line-height: 1.2;
        color: #32394d;
        font-weight: 600;
        max-width: 115px;
        width: 100%;
      }

      &-value {
        font-size: 12px;
        line-height: 1.2;
        color: #32394d;
        font-weight: 400;

        & a {
          font-size: 12px;
          line-height: 1.2;
          color: #32394d;
          font-weight: 400;
          text-decoration: none;
        }
      }

      &-markers {
        margin-bottom: -6px;

        & span {
          display: inline-block;
          line-height: 1;
          padding: 7px 9px ;
          height: 21px;
          box-sizing: border-box;
          border-radius: 10px;
          box-shadow: 0 4px 10px rgba(1,1,1,0.1);
          background-color: #0a95dd;
          font-size: 9px;
          color: #fff;
          font-weight: 500;
          margin-right: 6px;
          margin-bottom: 6px;
        }
      }

      &-list {
        @include col();
        @include u-size(6, 6, $offset);
        order: 2;
        @include sm-block {
          @include u-size(4, 6, $offset);
          order: 0;
        }
      }
    }

    &__logo {
      @include col();
      @include u-size(6, 6, $offset);
      order: 1;
      margin-bottom: 16px;
      text-align: left;
      @include sm-block {
        @include u-size(2, 6, $offset);
        margin-bottom: 0;
        order: 0;
        text-align: right;
      }

      & img {
        max-width: 111px;
        width: 100%;
        max-height: 100%;
      }
    }
  }
}