mixin project-pic()
    article.project-pic.shadow-red_img
        img(src='img/project/project-1.jpg')
        .project-pic__half
            img(src='img/project/project-half-1.jpg')
            img(src='img/project/project-half-2.jpg')
        img(src='img/project/project-2.jpg')

mixin project-content()
    article.project-content
        .project-content__top
            ul.project-content__option-list
                li.project-content__option
                    .project-content__option-name Клиент:
                    .project-content__option-value Авантаж Медиа
                li.project-content__option
                    .project-content__option-name Деятельность:
                    .project-content__option-value Рекламное агенство
                li.project-content__option
                    .project-content__option-name Разработали
                    .project-content__option-markers
                        span Сувениры
                        span Дизайн
                li.project-content__option
                    .project-content__option-name Сайт:
                    .project-content__option-value
                        a(href='http://advm.ru' target='_blank') advm.ru
            .project-content__logo
                img(src='img/project/project-logo.png')
        .project-content__bottom
            p
                | Желаете оставить приятное впечатление о себе и своей компании? Компания «Гифтон» станет вашим надежным помощником. Занимаясь более 10 лет поставкой и продажей сувенирной продукции оптом, мы предлагаем изготовление промоматериалов с нанесением корпоративной символики и оригинальным дизайнерским оформлением.
            p
                | Risus commodo viverra maecenas accumsan lacus vel facilisis.

            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.