mixin news-detail()
    section.news-detail
        .container
            .news-detail__inner
                .news-detail__content.typography
                    .half
                        img(src='img/news/detailed_news.png')
                    p
                        | Желаете оставить приятное впечатление о себе и своей компании? Компания «Гифтон» станет вашим надежным помощником. Занимаясь более 10 лет поставкой и продажей сувенирной продукции оптом, мы предлагаем изготовление промоматериалов с нанесением корпоративной символики и оригинальным дизайнерским оформлением.
                    h4 Risus commodo viverra maecenas accumsan lacus vel facilisis.
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
