.product-recommended {
  @include p-top(1);
  @include p-bottom(2);
  background-color: #f9f9f9;

  & &__list .product-card {
    @include to($break_xl) {
      max-width: 212px;
    }
  }

  @include lg-block {
    @include p-top(2);
    @include p-bottom(3);
  }

  &_big-top {
    @include p-top(3);
  }

  &__title {
    font-size: 25px;
    line-height: 25px;
    color: #3c414c;
    font-weight: 500;
    @include m-bottom(1);

    @include lg-block {
      @include m-bottom(2);
    }
  }

  &__list {
    @include row-flex();
    flex-wrap: nowrap;

    & .product-card {
      @include size-xl(3);
      @include size(16);
    }
  }

  & .swiper-container {
    padding: 20px 8px 20px 20px;
    margin: -20px -8px -20px -20px;
    box-sizing: border-box;
  }

  &__more {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    @include col();
    @include size-xl(4);
    @include size-md(8);
    @include size(16);
    box-sizing: border-box;
    height: 270px;
    border-radius: 6px;
    box-shadow: 0 4px 20px rgba(12,34,94,0.4);
    z-index: 0;
    text-decoration: none;

    @include to(1199px) {
      margin-right: 0;
    }

    @include to($break_lg) {
      max-width: 212px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #0c225e;
      border-radius: 6px;
      opacity: 0.7;
      z-index: -1;
    }

    &-inner {
      padding: 30px 60px 30px 30px;
      box-sizing: border-box;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    &-title {
      font-size: 25px;
      line-height: 28px;
      color: #ffffff;
      font-weight: 500;
      text-decoration: none;
    }
  }

  & .slick-list {
    box-sizing: border-box;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: -20px;
    margin-bottom: -20px;

    @include to($break_md) {
      padding: 0 12% 0 0;
    }
  }
}