mixin switch(title, name, isChecked=false, isDisabled = false)
    - let attr = [];
    if isChecked
        - attr['checked'] = 'checked';
    if isDisabled
        - attr['disabled'] = 'disabled';
    label.switch-wrap
        .switch
            input(type="checkbox" name=name)&attributes(attr)
            span.switch-slider
        if title
            span.switch-title !{title}

