.content-with-sidebar {

  &__flex {
    @include row-flex();
  }

  & .sidebar {
    @include col();
    @include size(4);
  }

  & .content {
    @include col();
    @include size(12);
  }
}

.content {
  &__top {
    &-action {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 6px;
      box-shadow: 0 4px 10px rgba(1, 1, 1, 0.05);
      background-color: #fff;
      padding: 25px 35px 25px 30px;
      margin-bottom: 16px;
    }
  }
}

