include ../../components/catalog-filter/catalog-filter
include ../../components/catalog-accordion/catalog-accordion
include ../../components/catalog-view-mode/catalog-view-mode
include ../../components/catalog-sort/catalog-sort
include ../../components/product-card/product-card

section.content-with-sidebar
    .container
        .content-with-sidebar__flex
            .sidebar
                +catalog-filter(filter)
                +catalog-accordion(categories)

            .content
                .content__top-block
                    .content__top-action
                        +catalog-view-mode(modes)
                        +catalog-sort(sort)
                    include ../../components/catalog-search/catalog-search
                .content__main-block
                    +product-card-list(productCards)
