.content-with-sidebar {

  &__flex {
    @include row-flex();
  }

  & .sidebar {
    @include col();
    @include size(4);
  }

  & .content {
    @include col();
    @include size(12);
    background: green;
  }
}

.content {
  &__top-block {
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(1,1,1,0.05);
    background-color: #fff;
    padding: 30px 25px 35px;
    margin-bottom: 16px;
  }
}

