include ../../components/catalog-filter/catalog-filter

section.content-with-sidebar
    .container
        .content-with-sidebar__flex
            .sidebar
                +catalog-filter(filter)

            .content
                .content__top-block
