.container

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur blanditiis consectetur cupiditate doloremque eius est, ex explicabo harum labore nesciunt officia omnis pariatur provident repellat repudiandae ut vel voluptate voluptatibus!

    .row
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col

    button.btn.btn-fix Подробнее
    a(href='#').btn.btn-fix Подробнее

    button.btn.btn-responsive Более подробнее
    a(href='#').btn.btn-responsive Более подробнее

    button.btn.btn-rounded.btn-rounded_medium.btn-arrow-right
    a(href='#').btn.btn-rounded.btn-rounded_medium.btn-arrow-right

    button.btn.btn-rounded.btn-rounded_medium.btn-number(data-number='1')
    a.btn.btn-rounded.btn-rounded_medium.btn-number(href='#' data-number='1')

    h1.h1 Head 1
    h2.h2 Head 2
    h3.h3 Head 3
    h4.h4 Head 4
    h5.h5 Head 5
    h6.h6 Head 6






