.container

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur blanditiis consectetur cupiditate doloremque eius est, ex explicabo harum labore nesciunt officia omnis pariatur provident repellat repudiandae ut vel voluptate voluptatibus!

    .row
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col