.container

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur blanditiis consectetur cupiditate doloremque eius est, ex explicabo harum labore nesciunt officia omnis pariatur provident repellat repudiandae ut vel voluptate voluptatibus!

    .row
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col

    button.btn.btn-fix Подробнее
    a(href='#').btn.btn-fix Подробнее

    button.btn.btn-responsive Более подробнее
    a(href='#').btn.btn-responsive Более подробнее

    button.btn.btn-rounded.btn-rounded_medium.btn-arrow-right
    a(href='#').btn.btn-rounded.btn-rounded_medium.btn-arrow-right

    button.btn.btn-rounded.btn-rounded_medium.btn-number(data-number='1')
    a.btn.btn-rounded.btn-rounded_medium.btn-number(data-number='1' href='#')

    button(type='submit').btn.btn-blue Поиск
    a(href='#').btn.btn-blue Поиск



    h1.h1 Head 1
    h2.h2 Head 2
    h3.h3 Head 3
    h4.h4 Head 4
    h5.h5 Head 5
    h6.h6 Head 6

    .btn-remove
    .icon-list
        .icon-vk
        .icon-fb
        .icon-twitter
        .icon-in
        .icon-inst


    section.description
        .description__inner
            .description__title
                | Бизнес сувениры GIFTON
            .description__text
                | Прогрессивный рекламный инструмент
            .description__block-list
                .descripton__block-item
                    .descripton__block-top
                        .descripton__block-img
                        .descripton__block-title 78%
                    .descripton__block-text
                        | Сувениров повышают узнаваемость бренда

                .descripton__block-item
                    .descripton__block-top
                        .descripton__block-img
                        .descripton__block-title 55%
                    .descripton__block-text
                        | Сувениров увеличивают целевую аудиторию

                .descripton__block-item
                    .descripton__block-top
                        .descripton__block-img
                        .descripton__block-title 67%
                    .descripton__block-text
                        | Корпоративных подарков поддерживают партнерские отношения

                .descripton__block-item
                    .descripton__block-top
                        .descripton__block-img
                        .descripton__block-title 89%
                    .descripton__block-text
                        |Сувенирной продукции покрывают расходы доходом       
                        

    section.contacts-info
        .container
            .contacts-info__inner
                .contacts-info__row
                    span.contacts-info__img
                    img(src='img/contacts/location-contacts__icon')
                    span.contacts-info__content Москва, ул. Профсоюзная, д. 23
                .contacts-info__row
                    span.contacts-info__img
                    img(src='img/contacts/phone-contacts__icon')
                    span.contacts-info__content +7 (495) 225-25-28 (пн-пт 10-18)
                .contacts-info__row
                    span.contacts-info__img
                    img(src='img/contacts/mail-contacts__icon')
                    span.contacts-info__content info@gifton.ru


    section.contacts-form
        .container
            .contacts-form__description Отправить запрос
            form.contacts-form(action="", method="POST")
                label.contacts-form__label
                    input.contacts-form__input-text(name="name",type="text" placeholder="Имя Фамилия")
                label.contacts-form__label
                    input.contacts-form__input-text(name="email",type="text", placeholder="Email")
                label.contacts-form__label
                    input.contacts-form__input-text(name="name",type="text" placeholder="Компания")
                label.contacts-form__label
                    input.contacts-form__input-text(name="name",type="text" placeholder="Сайт")
                label.contacts-form__label
                    textarea.contacts-form__textarea(name="message", placeholder="Сообщение")




    section.registration
        .container
            .registration__inner
                .registration-left
                    .contacts-form__description Оформление:
                    img(src='img/registration/registration.png')
                .registration-right
                    .registration-form
                    form.registration-form(action="", method="POST")
                        label.registration-form__label
                            input.registration-form__input-text(name="name",type="text" placeholder="Имя Фамилия")
                        label.registration-form__label
                            input.registration-form__input-text(name="email",type="text", placeholder="Email")
                        label.registration-form__label
                            input.registration-form__input-text(name="name",type="text" placeholder="Телефон")
                        label.registration-form__label
                            input.registration-form__input-text.registration-form__input-text_active(name="name",type="text" placeholder="Advantage Media")
                        label.registration-form__label
                            input.registration-form__input-text(name="name",type="text" placeholder="Сайт")
                        label.registration-form__label
                            textarea.registration-form__textarea(name="message", placeholder="Комментарий")
                    .registration-block
                        .form__label.form__label_checkbox
                            input.form__input-checkbox(type="checkbox" name="agree")
                            span.form__input-checkbox-custom
                        span.form__label-text Даю согласие на обработку персональных данных      
                        button.btn.btn-fix.btn-registration Отправить   
