.container

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur blanditiis consectetur cupiditate doloremque eius est, ex explicabo harum labore nesciunt officia omnis pariatur provident repellat repudiandae ut vel voluptate voluptatibus!

    .row
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col

    button.button-green Подробнее
    a(href).button-green Подробнее


    rounded-button.rounded-green
    a(href).rounded-green

    h1.h1 Head 1
    h2.h2 Head 2
    h3.h3 Head 3
    h4.h4 Head 4
    h5.h5 Head 5
    h6.h6 Head 6






