mixin printing-pic()
    article.printing-pic
        img(src='img/printing/printing.jpg')

mixin printing-content()
    article.printing-content
        .printing-content__top
            ul.printing-content__option-list
                li.printing-content__option
                    .printing-content__option-name Файл:
                    .printing-content__option-value PDF/ CDR/ Ai
                li.printing-content__option
                    .printing-content__option-name Мин. толщ. линий
                    .printing-content__option-value 0.17 мм.
                li.printing-content__option
                    .printing-content__option-name Цвет:
                    .printing-content__option-value Pantone C
            .printing-content__logo
                img(src='img/printing/printing-logo.png')
        .printing-content__bottom
            p Максимальная длина логотипа – 60 мм Высота логотипа для ручек = до 0,7 от диаметра ручки Высота логотипа для цилиндрических предметов большого размера = не более 0,5 от диаметра
            p Тампопечать по металлу и предметам нестандартной формы + 50 % Тампопечать по стеклу и керамике + 100 % Тампопечать в два или более краскопргонов – рассчитывается отдельно Упаковка и распаковка изделий + 15-25%
    article.printing-table
        .table
            .table__head
                .table__row
                    .table__col Тираж
                    .table__col 1 цв.
                    .table__col 2 цв.
                    .table__col 3 цв.
                    .table__col 4 цв.
            .table__body
                .table__row
                    .table__col 100
                    .table__col 19
                    .table__col 35
                    .table__col 46
                    .table__col 60
                .table__row
                    .table__col 200
                    .table__col 15
                    .table__col 23
                    .table__col 35
                    .table__col 45,9
                .table__row
                    .table__col 300
                    .table__col 11,5
                    .table__col 19
                    .table__col 27
                    .table__col 35
                .table__row
                    .table__col 500
                    .table__col 6,5
                    .table__col 11,6
                    .table__col 15
                    .table__col 19,3
                .table__row
                    .table__col 1000
                    .table__col 5,1
                    .table__col 8,5
                    .table__col 10
                    .table__col 12,7
                .table__row
                    .table__col 3000
                    .table__col 3,9
                    .table__col 6
                    .table__col 7,2
                    .table__col 8,68
                .table__row
                    .table__col 5000
                    .table__col 3,4
                    .table__col 5
                    .table__col 6,1
                    .table__col 7,2
                .table__row
                    .table__col 10 000
                    .table__col 2,9
                    .table__col 4,5
                    .table__col 4,8
                    .table__col 6,9
                .table__row
                    .table__col 50 000
                    .table__col 2,2
                    .table__col 3,9
                    .table__col 4,6
                    .table__col 5,1