.pagination
    nav.pagination__wrap
        .pagination__list
            a(href="#").pagination__prev.icon-pseudo-arrow-left-black
            a(href="#").pagination__item.first 1
            a(href="#").pagination__points
            a(href="#").pagination__item 3
            a(href="#").pagination__item.active 4
            a(href="#").pagination__item 5
            a(href="#").pagination__points
            a(href="#").pagination__item.last 129
            a(href="#").pagination__next.icon-pseudo-arrow-right-black