section.brief
    .container
        .brief-top
            .brief-top__title 
                |Online бриф
            .brief-top__text 
                |Техническое задание, займет < 5 минут.
        .brief-center
            .card-brief-list
                .card-brief
                    .card-brief__inner
                        .card-brief__title 
                            |Промо
                        .card-brief__price 
                            |до 500 ₽
                        button.btn.btn-fix.brief__btn 
                            |Выбрать

                .card-brief.card-brief
                    .card-brief__inner
                        .card-brief__title 
                            |Бизнес
                        .card-brief__price 
                            |до 1500 ₽
                        button.btn.btn-fix.brief__btn 
                            |Выбрать

                .card-brief
                    .card-brief__inner
                        .card-brief__title 
                            |VIP
                        .card-brief__price 
                            |до 5000 ₽
                        button.btn.btn-fix.brief__btn 
                            |Выбрать
                .brief-bottom            





    