.brief {
    height: 750px;
    border-radius: 6px;
    box-shadow: 0px 4px 20px rgba(1,1,1,0.15);
    background-color: #ffffff;
    padding: 70px;

    &__btn {
        background: #ffffff;
        color: #b9cf1b;

        &:hover {
            color: #ffffff;

        }

        &:active {
            color: #ffffff;
            box-shadow: 0px 4px 10px rgba(185,207,27,0.4);
            background-color: #b9cf1b;
          }

    }

}

.card-brief {
    position: relative;
    display: inline-block;
    min-height: 240px;
    border-radius: 6px;
    background-color: #ffffff;
    border: 2px solid #ecf1f5;
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }

    &::before {

        content: "";
        position: absolute;
        background: url("../img/brief/promo_icon.png") no-repeat;
        width: 75px;
        height: 55px;
        top: auto;
        bottom: auto;
        right: 0;
        left: 0;
        margin: auto;

    }


    &__inner {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 23px 95px 40px 95px;
        height: 100%;
        text-align: center;

    }

    &__title {
        font-size: 25px;
        color: #32394d;
        line-height: 12px;
        font-weight: 500;
        padding-bottom: 35px;

    }

    &__price {
        font-size: 19px;
        color: #0a95dd;
        line-height: 1.623;
        font-weight: 400;
        padding-bottom: 40px;

    }

}

.brief-top {
    &__title  {
        font-size: 25px;
        color: #3c414c;
        font-weight: 500;
        padding-bottom: 30px;

    }

    &__text {
        font-size: 12px;
        color: #3c414c;
        font-weight: 400;

    }

}