section.description-about__wrap
    .container
        .description-about
            .description-about__inner
                .description-about__left
                    .description-about__title
                        |Кто мы?
                    .description-about__text
                        p
                            | Команда компании Гифтон занимается разработкой, изготовлением,поставкой и&nbsp;персонализацией подарков с&nbsp;2004&nbsp;г.
                            br
                            | За&nbsp;это время мы&nbsp;приобрели бесценный опыт и&nbsp;навыки, которые помогают нашим клиентам ориентироваться в&nbsp;Мире сувениров.
                        p
                            | Мы&nbsp;занимаемся разработкой индивидуальных идей, а&nbsp;также дальнейшим производством и&nbsp;упаковкой подарков. Каждый день
                            br
                            |находя уникальные технологии, необычные сувениры,мы стремимся предложить нашим клиентам самый лучший сервис.

                .description-about__center
                    .description-about__title
                        | Принципы
                    .description-about__text.typography
                        ol
                            li Честность и&nbsp;открытость в&nbsp;отношениях с&nbsp;клиентом.
                            li Изготавливать продукцию в&nbsp;точно оговоренный срок и&nbsp;высокого качества.
                            li Постоянный поиск новых идей и&nbsp;воплощений.
                            li Разработка и&nbsp;реализация только эффективно работающих решений.
                            li Постоянное совершенствование через оптимизацию бизнес процессов, технологий и&nbsp;обучение молодых специалистов.
                            li Мы делаем для клиента больше, стремясь достичь идеального результата.
                .description-about__right
                    .description-about__title
                        | Миссия
                    .description-about__text
                        p
                            | Производить широкий ассортимент продуктов и&nbsp;услуг для рекламных нужд наших клиентов. Придумывать оригинальные воплощения рекламных носителей, реализовывать смелые проекты. Решать задачи наших клиентов в&nbsp;области новых интересных рекламных идей.
                    .description-about__title
                        | Цели
                    .description-about__text
                        div - Расти
                        div - Совершенствоваться
                        div - Открывать новое
                        div - Создавать эффе


