section.description-about
    .container
        .description__card
            .description-card__inner
                .description-card__left
                    .description-card__left-title
                        |Кто мы?
                    .description-card__left-text
                        |Команда компании Гифтон занимается 
                        |разработкой, изготовлением,поставкой и персонализацией подарков с 2004 г.
                        |За это время мы приобрели бесценный опыт и навыки, которые
                        |помогают нашим клиентам ориентироваться в Мире сувениров.
                        |Мы занимаемся разработкой индивидуальных идей, а также
                        |дальнейшим производством и упаковкой подарков. Каждый день
                        |находя уникальные технологии, необычные сувениры,мы 
                        |стремимся предложить нашим клиентам самый лучший сервис
                    .description-card__img
                    img(src="img/description-about/description-about.png")

