section.news-m
    .container
        .news-m__inner
            .news-m__left
                .news-m__article
            .news-m__right
                .news-m__title
                    |Производство корпоративных сувениров на заказ
                .news-m__text
                    |Желаете оставить приятное впечатление о себе и своей компании? Компания 
                    |«Гифтон» станет вашим надежным помощником. Занимаясь более 10 лет 
                    |поставкой и продажей сувенирной продукции оптом, мы предлагаем 
                    |изготовление промоматериалов с нанесением корпоративной символики и 
                    |оригинальным дизайнерским оформлением.

                    |У нас вы можете купить готовые сувениры со склада, заказать изделия по 
                    |европейским каталогам, а также индивидуальное производство сувенирной 
                    |продукции с логотипом.

                    |В каталоге вы легко отыщите подходящий товар, отсортировав ассортимент по 
                    |названию, разделу, виду нанесения, бренду, материалу изготовления, цвету и т.д

                .news-m__title
                    |Преимущества изготовления сувениров на заказ в «Гифтон»
                .news-m__text
                    |Обратившись за производством корпоративных сувениров с логотипом 
                    |компании к нам, вы  получите:

                    |единый каталог с удобной системой поиска;
                    |регулярные спецпредложения и акции; 
                    |максимум внимания и творческих сил при разработке индивидуального дизайна;
                    |использование современного оборудования;
                    |оперативную и бережную доставку;
                    |удобную систему оплаты;
                    |персональные условия сотрудничества, при которых необычные сувениры и другая рекламная продукция принесут вам еще большую выгоду.