.footer {
  background: rgb(61, 65, 76);
  width: 100%;

  &-main {
    @include row-flex();
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 8px;
    padding-right: 8px;
    @include to($break_sm) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @include lg-block {
      flex-wrap: nowrap;
    }
  }

  &__logo {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 227px;
    min-width: 200px;
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 4px 20px rgba(12, 34, 94, 0.4);
    z-index: 0;
    margin-left: 8px;
    margin-top: -3px;

    @include to($break_sm) {
      margin: auto;
      order: 6;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 6px 6px 0 0;
      opacity: .5;
      background-color: #0c225e;
      z-index: -1;
    }
  }

  &__copyright {
    font-size: 10px;
    letter-spacing: 0;
    color: #fff;
    font-weight: 500;
    margin-top: 16px;
  }

  &-menu {
    @include col();
    @include size-lg(4);
    @include size-md(7);
    @include size-sm(10);
    @include size(16);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 90px;
    padding-left: 10px;
    @include xl-block {
      padding-left: 30px;
    }

    @include to($break_sm) {
      padding-left: 0;
    }

    &__item {
      list-style-type: none;
    }

    &__link {
      font-size: 12px;
      color: rgb(255, 255, 255);
      line-height: 2.5;
      font-style: normal;
      font-weight: 500;
      text-decoration: none;
    }
  }

  &-social {
    @include col();
    @include size-lg(3);
    @include size-md(4);
    @include size-sm(5);
    @include size(16);

    margin-top: 20px;
    margin-bottom: 20px;

    @include md-block {
      margin-top: 0;
      margin-bottom: 0;
    }

    &__text {
      color: rgb(255, 255, 255);
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 2.5;
    }

    &__list {
      margin-top: 20px;
    }

    &__item {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;

      &:hover {
        opacity: .5;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-mailing {
    @include col();
    @include size-lg(3);
    @include size-md(8);
    @include size-sm(5);
    @include size(16);
    margin-top: 20px;
    margin-bottom: 20px;

    @include lg-block {
      margin-top: 0;
      margin-bottom: 0;
    }

    &__form {
      display: flex;
      margin-top: 20px;
      max-width: 170px;
      align-items: center;
      height: 34px;
      background-color: #f3f3f3;
      padding: 3px 4px;
      border-radius: 20px;
      box-sizing: border-box;
      border: 2px solid transparent;

      &.error {
        border: 2px solid #d73124;
      }

      &.success {
        @extend .btn-check-mark;
        border: 2px solid #f3f3f3;
        padding-left: 0 !important;

        &:before {
          content: '';
          position: absolute;
          width: 20px !important;
          height: 16px !important;
          background-color: #b9cf1b;
          background-repeat: no-repeat;
          background-size: contain;
          left: 0 !important;
          right: 0 !important;
          margin: auto;
          z-index: 1;
        }

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #b9cf1b;
          border-radius: 15px;
        }
      }
    }

    &__text {
      color: rgb(255, 255, 255);
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 2.5;
    }

    body &__input {
      width: #{calc(100% - 40px)};
      padding: 8px 5px 8px 16px;
      height: auto;
      font-size: 12px;
      color: #b4bfc7;
      background: #f3f3f3;
      border-radius: 20px;
      border: none;
      font-style: normal;
      font-weight: 500;
      box-sizing: border-box;

      @include placeholder {
        color: #b4bfc7;
      }
    }

    &__form.error &__input {
      color: #d73124;
      @include placeholder {
        color: #d73124;
      }
    }

    body &__submit {
      position: relative;
      width: 40px;
      height: 28px;
      padding: 0;
      border: none;
      border-radius: 20px;
      background-color: rgb(185, 207, 27);
      box-shadow: 0 4px 10px 0 rgba(185, 207, 27, 0.4);
      outline: none;

      &::before {
        content: "";
        position: absolute;
        width: 12px;
        height: 9px;
        background-image: url(icon-arrow-right());
        background-repeat: no-repeat;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
      }
    }
  }

  &__contact {
    display: block;

    &-list {
      @include col();
      @include size-lg(3);
      @include size-md(8);
      @include size-sm(6);
      @include size(16);
      list-style-type: none;
      margin-top: 20px;
      margin-bottom: 20px;
      min-width: 190px;

      @include lg-block {
        margin-top: 0;
        margin-bottom: 0;
      }

    }

    &, & a {
      line-height: 3;
      font-size: 10px;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.6);
      font-style: normal;
      font-weight: 500;
    }


    &_phone {
      position: relative;
      margin-left: 18px;

      &::before {
        content: "";
        position: absolute;
        left: -18px;
        right: auto;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 10px;
        height: 10px;
        background-size: 10px;
        background-image: url(icon-phone-white());
        background-repeat: no-repeat;
      }
    }

    &_address {
      position: relative;
      margin-left: 18px;

      &::before {
        content: "";
        position: absolute;
        left: -18px;
        right: auto;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 8px;
        height: 10px;
        background-size: 8px 10px;
        background-image: url(icon-local-white());
        background-repeat: no-repeat;
      }
    }

    &_mail {
      position: relative;
      margin-left: 18px;

      &::before {
        content: "";
        position: absolute;
        left: -18px;
        right: auto;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 11px;
        height: 9px;
        background-size: 11px 9px;
        background-image: url(icon-mail-white());
        background-repeat: no-repeat;
      }
    }
  }

  &__line {
    position: relative;
  }

  .footer &__up {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50px;
    left: auto;
    margin: auto;
  }
}


