include ../utils/mixins

block variables
	include ../utils/variables

doctype html
html(lang="ru")
	head
		include ../includes/head
	body
		.wrapper
			.main-content
				include ../../blocks/modules/header/header

				main(class=isMain?'':'inner-page')
					block content
						if leftSidebar && !rightSidebar
							include ../../blocks/modules/content-left-sidebar/content-left-sidebar
						if rightSidebar && !leftSidebar
							include ../../blocks/modules/content-right-sidebar/content-right-sidebar
						if contentHalf
							include ../../blocks/modules/content-half/content-half

			include ../../blocks/modules/footer/footer

		block modals
			include ../../blocks/modules/modals/modals
		include ../includes/scripts