include ../utils/mixins

block variables
	include ../utils/variables

doctype html
html(lang="ru")
	head
		include ../includes/head
	body
		.wrapper
			.main-content
				include ../../blocks/modules/header/header

				main(class=isMain?'':'inner-page')
					block content

			include ../../blocks/modules/footer/footer

		include ../includes/scripts