include ../utils/mixins

block variables

doctype html
html(lang="ru")
	head
		include ../includes/head
	body
		include ../../blocks/modules/header/header

		main
			block content

		include ../../blocks/modules/footer/footer

		include ../includes/scripts