@mixin filter-container {
  padding: 20px;
  box-sizing: border-box;
}

@mixin filter-modal-block {
  position: absolute;
  width: #{calc(100% - 32px)};
  top: 9999px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(1, 1, 1, 0.05);
  background-color: #fff;
  z-index: -1;
  @include transition(.5s);

  @include lg-block {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    width: 100%;
    margin: auto;
    height: auto;
    z-index: 1;
  }

  .active & {
    display: block;
    top: 50vh;
    left: 0;
    right: 0;
    bottom: auto;
    margin: 16px auto;
    z-index: 1;
    transform: translateY(-50vh);
  }


  &__wrap.active {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(19, 19, 49, .4);
    overflow-y: scroll;
    @include transition(.5s);

    @include lg-block {
      position: relative;
      width: auto;
      height: auto;
      overflow-y: auto;
      background-color: transparent;
      z-index: 0;
    }
  }

  &__close {
    padding: 15px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ecf1f5;
    display: flex;
    align-self: center;
    justify-content: flex-end;

    @include lg-block {
      display: none;
    }
  }
}

.catalog-filter {
  @include filter-modal-block();

  &__wrap {
    @include lg-block {
      margin-bottom: 16px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ecf1f5;
    height: 60px;

    &-half {
      @include filter-container();
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;

      &:first-child {
        border-right: 1px solid #ecf1f5;
      }

      &:last-child {
        justify-content: center;
      }
    }
  }

  &__title {
    font-size: 12px;
    line-height: 20px;
    color: #32394d;
    font-weight: 600;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__clean {
    display: block;
    position: relative;
    font-size: 12px;
    line-height: 20px;
    color: #b4bfc7;
    font-weight: 500;
    text-decoration: none;
    padding-right: 20px;

    &:after {
      content: '';
      position: absolute;
      background-image: url(icon-basket-clean());
      width: 12px;
      height: 12px;
      top: 0;
      bottom: 0;
      right: 0;
      left: auto;
      margin: auto;
    }
  }

  &__block {
    @include filter-container();
    border-bottom: 1px solid #ecf1f5;

    &:last-child {
      border-bottom: 0;
    }

    &-center {
      text-align: center;
    }

    &_scroll {
      max-height: 210px;
      min-height: 100%;
      //box-sizing: initial;
    }
  }

  &__name {
    font-size: 12px;
    line-height: 24px;
    color: #32394d;
    font-weight: 600;
    margin-bottom: 12px;
  }

  &__checkbox {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;

    &-text {
      display: block;
      position: relative;
      padding: 4px 26px 4px 12px;
      box-sizing: border-box;
      font-size: 12px;
      line-height: 20px;
      color: #7a7c81;
      font-weight: 500;
      border: 1px solid transparent;
    }

    & input {
      display: none;
    }

    & input:checked + &-text {
      color: #0b91d6;
      border-radius: 15px;
      border: 1px solid #e7ebee;
      background-color: #fff;

      &::before {
        content: "";
        display: block;
        position: absolute;
        background-image: url(icon-close-mini());
        width: 8px;
        height: 8px;
        top: 0;
        bottom: 0;
        right: 10px;
        left: auto;
        margin: auto;
      }
    }

    & input:disabled + &-text {
      color: #c8c9cb;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
    }
  }

  &__price {

    &-list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      & input {
        position: relative;
        width: 100px;

        &:first-child {

          &:after {
            content: '-';
            right: 20px;
            position: relative;
            font-size: 18px;
            line-height: 31px;
            color: #7a7c81;
            font-weight: 500;
          }
        }
      }
    }
  }

  &__dropdown {
    @include transition(.5s);

    &.active {
      background-color: #f9fafb;
    }

    &-block {
      display: none;
      margin-top: 12px
    }
  }

  &__dropdown &__name {
    display: block;
    position: relative;
    padding-right: 10px;
    cursor: pointer;
    margin-bottom: 0;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      bottom: auto;
      right: 0;
      left: auto;
      width: 9px;
      height: 6px;
      margin-top: -3px;
      background-image: url(icon-arrow-v());
      background-position: center;
      background-repeat: no-repeat;
      @include transition(.5s);
    }
  }

  &__dropdown.active &__name {
    &:after {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }

  &-buttons-mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    & a {
      display: inline-block;
      font-size: 12px;
      line-height: 18px;
      color: #3c414c;
      font-weight: 500;
      text-decoration: none;
      border: 2px solid #ecf1f5;
      padding: 9px 12px;
      box-sizing: border-box;
      border-radius: 6px;
    }

    @include lg-block {
      display: none;
    }
  }
}

