-
    var bg = 'img/bg/404.jpg'

-
    var breadcrumbs = [
        {
            name: 'Главная',
            link: '#'
        },
        {
            name: '404 error',
            link: ''
        }
    ];