-
    var bg = 'img/bg/about.jpg'

-
    var breadcrumbs = [
        {
            name: 'Главная',
            link: '#'
        },
        {
            name: 'О нас',
            link: ''
        }
    ];