-
    var bg = 'img/articles/article_1.jpg'

-
    var breadcrumbs = [
        {
            name: 'Главная',
            link: '#'
        },
        {
            name: 'Статьи',
            link: '#'
        },
        {
            name: title,
            link: ''
        }
    ];