-
    var bg = 'img/bg/articles.png'

-
    var breadcrumbs = [
        {
            name: 'Главная',
            link: '#'
        },
        {
            name: 'Статьи',
            link: ''
        }
    ];

-
    var newsList = [
        {
            img: 'img/articles/articles_1.png',
            title: 'Название новости',
            date: '12.03.19',
            dateColor: dateColor,
            text: 'Желаете оставить приятное впечатление о себе и своей компании?\n'+
            'Компания «Гифтон» станет вашим надежным помощником.\n'+
            'Занимаясь более 10 лет поставкой и продажей'

        },
        {
            img: 'img/articles/articles_2.png',
            title: 'Название новости. Компания «Гифтон» станет вашим надежным помощником.',
            date: '12.03.19',
            dateColor: dateColor,
            text: 'Желаете оставить приятное впечатление о себе и своей компании?\n'+
            'Компания «Гифтон» станет вашим надежным помощником.\n'+
            'Занимаясь более 10 лет поставкой и продажей Занимаясь более 10 лет поставкой и продажей  Занимаясь более 10 лет поставкой и продажей  Занимаясь более 10 лет поставкой и продажей '

        },
        {
            img: 'img/articles/articles_1.png',
            title: 'Название новости',
            date: '12.03.19',
            dateColor: dateColor,
            text: 'Желаете оставить приятное впечатление о себе и своей компании?\n'+
            'Компания «Гифтон» станет вашим надежным помощником.\n'+
            'Занимаясь более 10 лет поставкой и продажей'

        },
        {
            img: 'img/articles/articles_2.png',
            title: 'Название новости. Компания «Гифтон» станет вашим надежным помощником.',
            date: '12.03.19',
            dateColor: dateColor,
            text: 'Желаете оставить приятное впечатление о себе и своей компании?\n'+
            'Компания «Гифтон» станет вашим надежным помощником.\n'+
            'Занимаясь более 10 лет поставкой и продажей Занимаясь более 10 лет поставкой и продажей  Занимаясь более 10 лет поставкой и продажей  Занимаясь более 10 лет поставкой и продажей '

        }
    ]