-
    var bg = 'img/bg/catalog.jpg'

-
    var breadcrumbs = [
        {
            name: 'Главная',
            link: '#'
        },
        {
            name: 'Корзина',
            link: ''
        }
    ];

-
    var productCards = {
        type: 'rows',
        list: [
            {
                img: 'img/catalog/product-card-umbrella.png',
                title: 'Зонт реверсивный',
                article: 'MO9002-37',
                price: 1607,
                size: [
            {
                name: 'Размер (S)',
                value: 's'
                },
                {
                name: 'Размер (M)',
                value: 'm'
                },
                {
                name: 'Размер (L)',
                value: 'l'
                }
            ],
                quantity: 429,
                quantityCurrent: 129,
            },
            {
                img: 'img/catalog/product-card-backpack.png',
                title: 'Рюкзак Classic Adicolor',
                article: '6802.20',
                price: 3690,
                size: [
                    {
                        name: 'Размер (S)',
                        value: 's'
                    },
                    {
                        name: 'Размер (M)',
                        value: 'm'
                    },
                    {
                        name: 'Размер (L)',
                        value: 'l'
                    }
                ],
                quantity: 136,
                quantityCurrent: 136,
            },
            {
                img: 'img/catalog/product-card-lamp.png',
                title: 'Светильник Flexible',
                article: 'P513.714',
                price: 1308,
                size: [
                    {
                        name: 'Размер (S)',
                        value: 's'
                    },
                    {
                        name: 'Размер (M)',
                        value: 'm'
                    },
                    {
                        name: 'Размер (L)',
                        value: 'l'
                    }
                ],
                quantity: 0,
                quantityCurrent: 0,
            }
        ]
    }

-
    var productRecommended = {
        title: 'Рекомендуемые товары',
        list: [
            {
                img: 'img/catalog/product-card-backpack.png',
                title: 'Рюкзак Classic Adicolor',
                article: 'Арт.6802.20',
                price: 3690,
                size: [
                    {
                        name: 'Размер (S)',
                        value: 's'
                    },
                    {
                        name: 'Размер (M)',
                        value: 'm'
                    },
                    {
                        name: 'Размер (L)',
                        value: 'l'
                    }
                ],
                quantity: 136,
                quantityCurrent: 1
            },
            {
                img: 'img/catalog/product-card-umbrella.png',
                title: 'Зонт реверсивный MO9002-37',
                article: 'Арт. MO9002-37',
                price: 1607,
                isNew: true,
                size: [
                    {
                        name: 'Размер (S)',
                        value: 's'
                    },
                    {
                        name: 'Размер (M)',
                        value: 'm'
                    },
                    {
                        name: 'Размер (L)',
                        value: 'l'
                    }
                ],
                quantity: 429,
                quantityCurrent: 5,
            },
            {
                img: 'img/catalog/product-card-clock.png',
                title: 'Часы настольные «Статус»',
                article: 'Арт. 126211',
                price: 8850,
                quantity: 0,
                quantityCurrent: 0,
            },
            {
                img: 'img/catalog/product-card-lamp.png',
                title: 'Светильник Flexible',
                article: 'Арт. P513.714',
                price: 1308,
                quantity: 1,
                quantityCurrent: 1,
            }
        ]
    }