-
    var bg = 'img/bg/catalog.jpg'

-
    var breadcrumbs = [
        {
            name: 'Главная',
            link: '#'
        },
        {
            name: 'Категория',
            link: '#'
        },
        {
            name: 'Каталог',
            link: ''
        }
    ];

-
    var catalogCategory = [
        {
        	title: 'Подарки к 8 марта',
            bg: 'img/catalog/tulips.png',
            type: 'full',
            arrow: 'перйти к подборке'
        },
        {
            title: 'Для офиса',
            bg:'img/catalog/office_bg.png',
            icon: 'img/catalog/office_icon.png',
            type: 'quarter',
        },

    ];