-
    var bg = 'img/bg/catalog.jpg'

-
    var breadcrumbs = [
        {
            name: 'Главная',
            link: '#'
        },
        {
            name: 'Категория',
            link: '#'
        },
        {
            name: 'Каталог',
            link: ''
        }
    ];

-
    var catalogCategory = [
        {
        	name: 'Подарки к 8 марта',
            bg: 'img/catalog/tulips.png',
            type: 'full',
            arrow: 'перейти к подборке',
            color: 'red'
        },
        {
            name: 'Для офиса',
            bg:'img/catalog/office_bg.png',
            icon: 'img/catalog/office_icon.png',
            type: 'quarter',
            color: 'dark-blue'
        },
        {
            name: 'Для дома',
            bg:'img/catalog/house_bg.png',
            icon: 'img/catalog/house_icon.png',
            type: 'quarter',
            color: 'brown'
        },
        {
            name: 'Для отдыха',
            bg:'img/catalog/relaxation_bg.png',
            icon: 'img/catalog/relaxation_icon.png',
            type: 'quarter',
            color: 'blue'
        },
        {
            name: 'Праздничные подарки',
            bg:'img/catalog/presents_bg.png',
            icon: 'img/catalog/presents_icon.png',
            type: 'quarter',
            color: 'light-red'
        },
        {
            name: 'Награды',
            bg:'img/catalog/awards_bg.png',
            icon: 'img/catalog/awards_icon.png',
            type: 'half',
            color: 'light-green'
        },
        {
            name: 'Посуда и кухонные',
            bg:'img/catalog/dishes_bg.png',
            icon: 'img/catalog/dishes_icon.png',
            type: 'half',
            color: 'light-grey'
        },
        {
            name: 'Футболки',
            bg:'img/catalog/t-shirts_bg.png',
            icon: 'img/catalog/t-shirt_icon.png',
            type: 'half',
            color: 'green'
        },
        {
            name: 'Одежда с нанесением',
            bg:'img/catalog/clothes_bg.png',
            icon: 'img/catalog/clothes_icon.png',
            type: 'half',
            color: 'purple'
        },
        {
            name: 'Промо продукция',
            bg:'img/catalog/promo_bg.png',
            icon: 'img/catalog/promo_icon.png',
            type: 'half',
            color: 'orange'
        },
        {
            name: 'Электроника',
            bg:'img/catalog/electronics_bg.png',
            icon: 'img/catalog/electronics_icon.png',
            type: 'half',
            color: 'pacific-blue'
        },
        {
            name: 'Ежедневники и блокноты',
            bg:'img/catalog/diaries_bg.png',
            icon: 'img/catalog/diaries_icon.png',
            type: 'half',
            color: 'dark-blue'
        },
        {
            name: 'Ручки',
            bg:'img/catalog/pens_bg.png',
            icon: 'img/catalog/pens_icon.png',
            type: 'half',
            color: 'gray'
        },
        {
            name: 'Упаковка',
            bg:'img/catalog/packaging_bg.png',
            icon: 'img/catalog/packaging_icon.png',
            type: 'half',
            color: 'red'
        },
        {
            name: 'Подарочные наборы',
            bg:'img/catalog/set_bg.png',
            icon: 'img/catalog/set_icon.png',
            type: 'half',
            color: 'purple'
        },
        {
            name: 'Зонты',
            bg:'img/catalog/umbrellas_bg.png',
            icon: 'img/catalog/umbrellas_icon.png',
            type: 'half',
            color: 'pacific-blue'
        },
        {
            name: 'Новый год',
            bg:'img/catalog/new-year_bg.png',
            icon: 'img/catalog/new-year_icon.png',
            type: 'half',
            color: 'red'
        },
        {
            name: 'Рюкзаки и сумки',
            bg:'img/catalog/bags_bg.png',
            icon: 'img/catalog/bags_icon.png',
            type: 'half',
            color: 'yellow'
        }
    ];

-
    var typeApplication = {
    	title: 'Виды нанесения',
        list: [
            {
            	name: 'Шелкография',
                bg:'img/catalog/serigraphy_bg.png',
                icon: 'img/catalog/serigraphy_icon.png',
            },
            {
                name: 'Тиснение',
                bg:'img/catalog/stamping_bg.png',
                icon: 'img/catalog/stamping_icon.png',
            },
            {
                name: 'Термотрансфер',
                bg:'img/catalog/thermaltransfer_bg.png',
                icon: 'img/catalog/thermaltransfer_icon.png',
            },
            {
                name: 'Тампопечать',
                bg:'img/catalog/padprinting_bg.png',
                icon: 'img/catalog/padprinting_icon.png',
            },
            {
                name: 'Лазерная гравировка',
                bg:'img/catalog/engraving_bg.png',
                icon: 'img/catalog/engraving_icon.png',
            },
            {
                name: 'Деколь',
                bg:'img/catalog/decal_bg.png',
                icon: 'img/catalog/decal_icon.png',
            },
            {
                name: 'Цифровая печать',
                bg:'img/catalog/digitalprinting_bg.png',
                icon: 'img/catalog/digitalprinting_icon.png',
            },
            {
                name: 'Вышивка',
                bg:'img/catalog/embroidery_bg.png',
                icon: 'img/catalog/embroidery_icon.png',
            },
            {
                name: 'Металлостикер',
                bg:'img/catalog/metaldetector_bg.png',
                icon: 'img/catalog/metaldetector_icon.png',
            },

        ]
    };