-
    var bg = 'img/bg/catalog.jpg'

-
    var breadcrumbs = [
        {
            name: 'Главная',
            link: '#'
        },
        {
            name: 'Категория',
            link: '#'
        },
        {
            name: 'Каталог',
            link: ''
        }
    ];

-
    var productPic = {
        markerList: [
            {
                type: 'delivery',
                text: '3 недели'
            },
            {
                type: 'new',
                text: 'NEW'
            },
        ],
        mainSlider: [
            {
                img: 'img/product-detail/product-detail-pic.png'
            },
            {
                img: 'img/product-detail/product-detail-pic-mini-1.png'
            },
            {
                img: 'img/product-detail/product-detail-pic-mini-3.png'
            },
            {
                img: 'img/product-detail/product-detail-pic-mini-4.png'
            },
            {
            img: 'img/product-detail/product-detail-pic.png'
            },
        ],
        miniSlider: [
            {
                img: 'img/product-detail/product-detail-pic-mini-2.png'
            },
            {
                img: 'img/product-detail/product-detail-pic-mini-1.png'
            },
            {
                img: 'img/product-detail/product-detail-pic-mini-3.png'
            },
            {
                img: 'img/product-detail/product-detail-pic-mini-4.png'
            },
            {
                img: 'img/product-detail/product-detail-pic.png'
            },
        ]
    }

-
    var productOption = [
        {
            img: 'img/product-detail/product-detail-select-color-1.png'
        },
        {
            img: 'img/product-detail/product-detail-select-color-2.png'
        },
        {
            img: 'img/product-detail/product-detail-select-color-3.png'
        },
        {
            img: 'img/product-detail/product-detail-select-color-4.png'
        },
        {
            img: 'img/product-detail/product-detail-select-color-5.png'
        },
        {
            img: 'img/product-detail/product-detail-select-color-6.png',
            active: true
        },
    ]

-
    var productBox = {
        title: 'Рюкзак Classic Adicolor, оранжевый',
        article: 'Арт. MO9002-37',
        rating: 4,
        price: 3690,
        balance: 136,
        props: [
            {
                name: 'Вид нанесения',
                value: 'Шелкография'
            },
            {
                name: 'Бренд',
                value: 'Adidas'
            },
            {
                name: 'Материал товара',
                value: 'полиэстер'
            },
            {
                name: 'Цвет',
                value: 'оранжевый'
            }
        ],
        size: [
            {
                name: 'Размер (S)',
                value: 's'
            },
            {
                name: 'Размер (M)',
                value: 'm'
            },
            {
                name: 'Размер (L)',
                value: 'l'
            }
        ],
        quantity: 136,
        quantityCurrent: 1,

    }

-
    var productCards = {
        type: 'rows',
        list: [
            {
                img: 'img/catalog/product-card-backpack.png',
                title: 'Рюкзак Classic Adicolor',
                article: 'Арт.6802.20',
                price: 3690,
                size: [
                    {
                        name: 'Размер (S)',
                        value: 's'
                    },
                    {
                        name: 'Размер (M)',
                        value: 'm'
                    },
                    {
                        name: 'Размер (L)',
                        value: 'l'
                    }
                ],
                quantity: 136,
                quantityCurrent: 1,
            },
            {
                img: 'img/catalog/product-card-backpack.png',
                title: 'Рюкзак Classic',
                article: 'Арт.6516.12',
                price: 5500,
                size: [
                    {
                        name: 'Размер (S)',
                        value: 's'
                    },
                    {
                        name: 'Размер (M)',
                        value: 'm'
                    },
                    {
                        name: 'Размер (L)',
                        value: 'l'
                    }
                ],
                quantity: 7,
                quantityCurrent: 5,
            }
        ]
    }