-
    var bg = 'img/bg/catalog.jpg'

-
    var breadcrumbs = [
        {
            name: 'Главная',
            link: '#'
        },
        {
            name: 'Категория',
            link: '#'
        },
        {
            name: 'Каталог',
            link: ''
        }
    ];

-
    var filter = {
        blocks: [
            {
                name: 'Бренды:',
                type: 'checkbox',
                list: [
                    {
                    	name: 'brands[]',
                        value: 'sols',
                        text: "Sol's",
                        active: true
                    },
                    {
                        name: 'brands[]',
                        value: 'apple',
                        text: 'Apple'
                    },
                    {
                        name: 'brands[]',
                        value: 'ogio',
                        text: 'Ogio',
                        active: true
                    },
                    {
                        name: 'brands[]',
                        value: '4all',
                        text: '4All',
                        active: true
                    },
                    {
                        name: 'brands[]',
                        value: 'prodir',
                        text: 'Prodir'
                    },
                    {
                        name: 'brands[]',
                        value: 'senator',
                        text: 'Senator',
                        disabled: true
                    },
                    {
                        name: 'brands[]',
                        value: 'portabello',
                        text: 'Portabello',
                        disabled: true
                    },
                    {
                    name: 'brands[]',
                    value: 'portabello',
                    text: 'Portabello',
                    disabled: true
                    },
                    {
                        name: 'brands[]',
                        value: 'portabello',
                        text: 'Portabello',
                        disabled: true
                    },
                    {
                        name: 'brands[]',
                        value: 'portabello',
                        text: 'Portabello',
                        disabled: true
                    }
                ]
            },
            {
                name: 'Цвет:',
                type: 'checkbox',
                list: [
                    {
                        name: 'color[]',
                        value: 'sols',
                        text: "Sol's",
                        active: true
                    },
                    {
                        name: 'color[]',
                        value: 'apple',
                        text: 'Apple'
                    },
                    {
                        name: 'color[]',
                        value: 'ogio',
                        text: 'Ogio',
                        active: true
                    },
                    {
                        name: 'color[]',
                        value: 'sols',
                        text: "Sol's",
                        active: true
                    },
                    {
                        name: 'color[]',
                        value: 'apple',
                        text: 'Apple'
                    },
                    {
                        name: 'color[]',
                        value: 'ogio',
                        text: 'Ogio',
                        active: true
                    },
                    {
                        name: 'color[]',
                        value: 'sols',
                        text: "Sol's",
                        active: true
                    },
                    {
                        name: 'color[]',
                        value: 'apple',
                        text: 'Apple'
                    },
                    {
                        name: 'color[]',
                        value: 'ogio',
                        text: 'Ogio',
                        active: true
                    },
                    {
                        name: 'color[]',
                        value: 'sols',
                        text: "Sol's",
                        active: true
                    },
                    {
                        name: 'color[]',
                        value: 'apple',
                        text: 'Apple'
                    },
                    {
                        name: 'color[]',
                        value: 'ogio',
                        text: 'Ogio',
                        active: true
                    },
                ],
            },
            {
            	name: 'Цена:',
                type: 'price',
                jsClass: 'js-price-slider',
                step: 100,
                price: {
            		default: {
                        min: 100,
                        max: 10000,
                    },
                    filtered: {
                        min: 1500,
                        max: 4900,
                    }
                }
            },
            {
                name: 'Количество',
                type: 'dropdown',
                input: 'count'
            },
            {
                name: 'Другие',
                type: 'dropdown',
                list: [
                    {
                        name: 'other[]',
                        value: 'sols',
                        text: "Sol's",
                        active: true
                    },
                    {
                        name: 'other[]',
                        value: 'apple',
                        text: 'Apple'
                    },
                    {
                        name: 'other[]',
                        value: 'ogio',
                        text: 'Ogio',
                        active: true
                    },
                    {
                        name: 'other[]',
                        value: '4all',
                        text: '4All',
                        active: true
                    },
                        {
                        name: 'other[]',
                        value: 'prodir',
                        text: 'Prodir'
                    },
                    {
                        name: 'other[]',
                        value: 'senator',
                        text: 'Senator',
                        disabled: true
                    },
                    {
                        name: 'other[]',
                        value: 'portabello',
                        text: 'Portabello',
                        disabled: true
                    }
                ]
            },
        ]
    };

-
    var categories = {
    	title: 'Категории',
        blocks: [
            {
            	name: 'Флешки с лого',
                list: [
                    {
                    	name: 'Флешка 1'
                    },
                    {
                        name: 'Флешка 2'
                    },
                    {
                        name: 'Флешка 3'
                    }
                ]
            },
            {
                name: 'Электроника',
                list: [
                    {
                        name: 'Электроника 1'
                    },
                    {
                        name: 'Электроника 2'
                    },
                    {
                        name: 'Электроника 3'
                    },
                    {
                        name: 'Электроника 4'
                    },
                    {
                        name: 'Электроника 5'
                    }
                ]
            },
            {
                name: 'Подарки к праздникам',
                active: true,
                list: [
                    {
                        name: '23 февраля'
                    },
                    {
                        name: '8 марта',
                        active: true
                    },
                    {
                        name: 'Новый Год'
                    },
                    {
                        name: 'Юбилей'
                    }
                ]
            },
            {
                name: 'Текстиль',
                list: [
                    {
                        name: 'Текстиль 1'
                    },
                    {
                        name: 'Текстиль 2'
                    },
                    {
                        name: 'Текстиль 3'
                    }
                ]
            },
            {
                name: 'Рекламная продукция',
                list: [
                    {
                        name: 'Рекламная продукция 1'
                    },
                    {
                        name: 'Рекламная продукция 2'
                    }
                ]
            },
            {
                name: 'Подарочная упаковка',
                list: [
                    {
                        name: 'Подарочная упаковка 1'
                    },
                    {
                        name: 'Подарочная упаковка 2'
                    }
                ]
            },
        ]
    }

-
    var modes = [
        {
            className: 'blocks',
            name: 'mode',
            value: 'blocks'
        },
        {
        	className: 'rows',
        	name: 'mode',
            value: 'rows',
            active: true
        },

    ]

-
    var sort = [
        {
        	name: 'По популярности',
            value: 'popular'
        },
        {
            name: 'Новинки',
            value: 'new'
        },
        {
            name: 'Тест',
            value: 'test'
        },
        {
            name: 'Тест 2',
            value: 'test 2'
        }
    ]

-
    var productCards = {
        type: 'rows',
        list: [
            {
                img: 'img/catalog/product-card-backpack.png',
                title: 'Рюкзак Classic Adicolor',
                article: 'Арт.6802.20',
                price: 3690,
                size: [
                    {
                        name: 'Размер (S)',
                        value: 's'
                    },
                    {
                        name: 'Размер (M)',
                        value: 'm'
                    },
                    {
                        name: 'Размер (L)',
                        value: 'l'
                    }
                ],
                quantity: 136,
                quantityCurrent: 1,
                selectColors: [
                    'img/product-detail/product-detail-select-color-1.png',
                    'img/product-detail/product-detail-select-color-2.png',
                    'img/product-detail/product-detail-select-color-3.png',
                    'img/product-detail/product-detail-select-color-4.png',
                    'img/product-detail/product-detail-select-color-5.png',
                    'img/product-detail/product-detail-select-color-6.png',
                ]
            },
            {
                img: 'img/catalog/product-card-umbrella.png',
                title: 'Зонт реверсивный MO9002-37',
                article: 'Арт. MO9002-37',
                price: 1607,
                isNew: true,
                size: [
                    {
                        name: 'Размер (S)',
                        value: 's'
                    },
                    {
                        name: 'Размер (M)',
                        value: 'm'
                    },
                    {
                        name: 'Размер (L)',
                        value: 'l'
                    }
                ],
                quantity: 429,
                quantityCurrent: 5,
            },
            {
                img: 'img/catalog/product-card-clock.png',
                title: 'Часы настольные «Статус»',
                article: 'Арт. 126211',
                price: 8850,
                quantity: 0,
                quantityCurrent: 0,
            },
            {
                img: 'img/catalog/product-card-lamp.png',
                title: 'Светильник Flexible',
                article: 'Арт. P513.714',
                price: 1308,
                quantity: 1,
                quantityCurrent: 1,
            }
        ]
    }