-
    var bg = 'img/bg/catalog.jpg'

-
    var breadcrumbs = [
        {
            name: 'Главная',
            link: '#'
        },
        {
            name: 'Категория',
            link: '#'
        },
        {
            name: 'Каталог',
            link: ''
        }
    ];

-
    var filter = {
        blocks: [
            {
                name: 'Бренды:',
                type: 'checkbox',
                list: [
                    {
                    	name: 'brands[]',
                        value: 'sols',
                        text: "Sol's",
                        active: true
                    },
                    {
                        name: 'brands[]',
                        value: 'apple',
                        text: 'Apple'
                    },
                    {
                        name: 'brands[]',
                        value: 'ogio',
                        text: 'Ogio',
                        active: true
                    },
                    {
                        name: 'brands[]',
                        value: '4all',
                        text: '4All',
                        active: true
                    },
                    {
                        name: 'brands[]',
                        value: 'prodir',
                        text: 'Prodir'
                    },
                    {
                        name: 'brands[]',
                        value: 'senator',
                        text: 'Senator',
                        disabled: true
                    },
                    {
                        name: 'brands[]',
                        value: 'portabello',
                        text: 'Portabello',
                        disabled: true
                    }
                ]
            },
            {
            	name: 'Цена:',
                type: 'price',
                jsClass: 'js-price-slider',
                step: 100,
                price: {
            		default: {
                        min: 100,
                        max: 10000,
                    },
                    filtered: {
                        min: 1500,
                        max: 4900,
                    }
                }
            },
            {
                name: 'Количество',
                type: 'dropdown',
                input: 'count'
            },
            {
                name: 'Другие',
                type: 'dropdown',
                list: [
                    {
                        name: 'other[]',
                        value: 'sols',
                        text: "Sol's",
                        active: true
                    },
                    {
                        name: 'other[]',
                        value: 'apple',
                        text: 'Apple'
                    },
                    {
                        name: 'other[]',
                        value: 'ogio',
                        text: 'Ogio',
                        active: true
                    },
                    {
                        name: 'other[]',
                        value: '4all',
                        text: '4All',
                        active: true
                    },
                        {
                        name: 'other[]',
                        value: 'prodir',
                        text: 'Prodir'
                    },
                    {
                        name: 'other[]',
                        value: 'senator',
                        text: 'Senator',
                        disabled: true
                    },
                    {
                        name: 'other[]',
                        value: 'portabello',
                        text: 'Portabello',
                        disabled: true
                    }
                ]
            },
        ]
    };

-
    var categories = {
    	title: 'Категории',
        blocks: [
            {
            	name: 'Флешки с лого',
                list: [
                    {
                    	name: 'Флешка 1'
                    },
                    {
                        name: 'Флешка 2'
                    },
                    {
                        name: 'Флешка 3'
                    }
                ]
            },
            {
                name: 'Электроника',
                list: [
                    {
                        name: 'Электроника 1'
                    },
                    {
                        name: 'Электроника 2'
                    },
                    {
                        name: 'Электроника 3'
                    },
                    {
                        name: 'Электроника 4'
                    },
                    {
                        name: 'Электроника 5'
                    }
                ]
            },
            {
                name: 'Подарки к праздникам',
                active: true,
                list: [
                    {
                        name: '23 февраля'
                    },
                    {
                        name: '8 марта',
                        active: true
                    },
                    {
                        name: 'Новый Год'
                    },
                    {
                        name: 'Юбилей'
                    }
                ]
            },
            {
                name: 'Текстиль',
                list: [
                    {
                        name: 'Текстиль 1'
                    },
                    {
                        name: 'Текстиль 2'
                    },
                    {
                        name: 'Текстиль 3'
                    }
                ]
            },
            {
                name: 'Рекламная продукция',
                list: [
                    {
                        name: 'Рекламная продукция 1'
                    },
                    {
                        name: 'Рекламная продукция 2'
                    }
                ]
            },
            {
                name: 'Подарочная упаковка',
                list: [
                    {
                        name: 'Подарочная упаковка 1'
                    },
                    {
                        name: 'Подарочная упаковка 2'
                    }
                ]
            },
        ]
    }