-
    var bg = 'img/bg/contact.jpg'

-
    var breadcrumbs = [
        {
            name: 'Главная',
            link: '#'
        },
        {
            name: 'Контакты',
            link: ''
        }
    ];