-
    var catalogCategoryMain = [
        {
            type: 'big-small',
            blocks: [
                {
                    name: 'Подарочные наборы',
                    bg:'img/catalog/set_bg.png',
                    icon: 'img/catalog/set_icon.png',
                    type: 'half',
                    color: 'purple'
                },
                {
                    name: 'Электроника',
                    bg:'img/catalog/electronics_bg.png',
                    icon: 'img/catalog/electronics_icon.png',
                    type: 'half',
                    color: 'pacific-blue'
                }
            ]
        },
        {
            type: 'small-big',
            blocks: [
                {
                    name: 'Для дома',
                    bg:'img/catalog/house_bg.png',
                    icon: 'img/catalog/house_icon.png',
                    type: 'quarter',
                    color: 'brown'
                },
                {
                    name: 'Футболки',
                    bg:'img/catalog/t-shirts_bg.png',
                    icon: 'img/catalog/t-shirt_icon.png',
                    type: 'half',
                    color: 'green'
                }
            ]
        },
        {
            type: 'big',
            blocks: [
                {
                    name: 'Для отдыха',
                    bg:'img/catalog/relaxation_bg.png',
                    icon: 'img/catalog/relaxation_icon.png',
                    type: 'quarter',
                    color: 'blue'
                }
            ]
        },
        {
            type: 'big-small',
            blocks: [
                {
                    name: 'Посуда и кухонные аксессуары',
                    bg:'img/catalog/dishes_bg.png',
                    icon: 'img/catalog/dishes_icon.png',
                    type: 'half',
                    color: 'light-grey'
                },
                {
                    name: 'Ежедневники и блокноты',
                    bg:'img/catalog/diaries_bg.png',
                    icon: 'img/catalog/diaries_icon.png',
                    type: 'half',
                    color: 'dark-blue'
                }
            ]
        },
        {
            type: 'big-half-small',
            blocks: [
                {
                    name: 'Новый год',
                    bg:'img/catalog/new-year_bg.png',
                    icon: 'img/catalog/new-year_icon.png',
                    type: 'half',
                    color: 'red'
                },
                {
                    name: 'Награды',
                    bg:'img/catalog/awards_bg.png',
                    icon: 'img/catalog/awards_icon.png',
                    type: 'half',
                    color: 'light-green'
                },
                {
                    name: 'Упаковка',
                    bg:'img/catalog/packaging_bg.png',
                    icon: 'img/catalog/packaging_icon.png',
                    type: 'half',
                    color: 'red'
                },
            ]
        },
        {
            type: 'small-big',
            blocks: [
                {
                    name: 'Промо продукция',
                    bg:'img/catalog/promo_bg.png',
                    icon: 'img/catalog/promo_icon.png',
                    type: 'half',
                    color: 'orange'
                },
                {
                    name: 'Сумки и рюкзаки',
                    bg:'img/catalog/bags_bg.png',
                    icon: 'img/catalog/bags_icon.png',
                    type: 'half',
                    color: 'yellow'
                }
            ]
        },
        {
            type: 'equal-half',
            blocks: [
                {
                    name: 'Одежда с нанесением',
                    bg:'img/catalog/clothes_bg.png',
                    icon: 'img/catalog/clothes_icon.png',
                    type: 'half',
                    color: 'purple'
                },
                {
                    name: 'Зонты',
                    bg:'img/catalog/umbrellas_bg.png',
                    icon: 'img/catalog/umbrellas_icon.png',
                    type: 'half',
                    color: 'pacific-blue'
                },
                {
                    name: 'Для офиса',
                    bg:'img/catalog/office_bg.png',
                    icon: 'img/catalog/office_icon.png',
                    type: 'quarter',
                    color: 'dark-blue'
                }
            ]
        },
        {
            type: 'big-small',
            blocks: [
                {
                    name: 'Ручки',
                    bg:'img/catalog/pens_bg.png',
                    icon: 'img/catalog/pens_icon.png',
                    type: 'half',
                    color: 'gray'
                },
                {
                    name: 'Праздничные подарки',
                    bg:'img/catalog/presents_bg.png',
                    icon: 'img/catalog/presents_icon.png',
                    type: 'quarter',
                    color: 'light-red'
                },
            ]
        }
    ];