-
    var catalogCategoryMain = [
        {
            type: 'big-small',
            blocks: [
                {
                    name: 'Подарочные наборы',
                    bg:'img/catalog/set_bg.png',
                    icon: 'img/catalog/set_icon.png',
                    color: 'purple'
                },
                {
                    name: 'Электроника',
                    bg:'img/catalog/electronics_bg.png',
                    icon: 'img/catalog/electronics_icon.png',
                    color: 'pacific-blue'
                }
            ]
        },
        {
            type: 'small-big',
            blocks: [
                {
                    name: 'Для дома',
                    bg:'img/catalog/house_bg.png',
                    icon: 'img/catalog/house_icon.png',
                    color: 'brown'
                },
                {
                    name: 'Футболки',
                    bg:'img/catalog/t-shirts_bg.png',
                    icon: 'img/catalog/t-shirt_icon.png',
                    color: 'green'
                }
            ]
        },
        {
            type: 'big',
            blocks: [
                {
                    name: 'Для отдыха',
                    bg:'img/catalog/relaxation_bg.png',
                    icon: 'img/catalog/relaxation_icon.png',
                    color: 'blue'
                }
            ]
        },
        {
            type: 'big-small',
            blocks: [
                {
                    name: 'Посуда и кухонные аксессуары',
                    bg:'img/catalog/dishes_bg.png',
                    icon: 'img/catalog/dishes_icon.png',
                    color: 'light-grey'
                },
                {
                    name: 'Ежедневники и блокноты',
                    bg:'img/catalog/diaries_bg.png',
                    icon: 'img/catalog/diaries_icon.png',
                    color: 'dark-blue'
                }
            ]
        },
        {
            type: 'big-half-small',
            blocks: [
                {
                    name: 'Новый год',
                    bg:'img/catalog/new-year_bg.png',
                    icon: 'img/catalog/new-year_icon.png',
                    color: 'red'
                },
                {
                    name: 'Награды',
                    bg:'img/catalog/awards_bg.png',
                    icon: 'img/catalog/awards_icon.png',
                    color: 'light-green'
                },
                {
                    name: 'Упаковка',
                    bg:'img/catalog/packaging_bg.png',
                    icon: 'img/catalog/packaging_icon.png',
                    color: 'red'
                },
            ]
        },
        {
            type: 'small-big',
            blocks: [
                {
                    name: 'Промо продукция',
                    bg:'img/catalog/promo_bg.png',
                    icon: 'img/catalog/promo_icon.png',
                    color: 'orange'
                },
                {
                    name: 'Сумки и рюкзаки',
                    bg:'img/catalog/bags_bg.png',
                    icon: 'img/catalog/bags_icon.png',
                    color: 'yellow'
                }
            ]
        },
        {
            type: 'equal-half',
            blocks: [
                {
                    name: 'Одежда с нанесением',
                    bg:'img/catalog/clothes_bg.png',
                    icon: 'img/catalog/clothes_icon.png',
                    color: 'purple'
                },
                {
                    name: 'Зонты',
                    bg:'img/catalog/umbrellas_bg.png',
                    icon: 'img/catalog/umbrellas_icon.png',
                    color: 'pacific-blue'
                },
                {
                    name: 'Для офиса',
                    bg:'img/catalog/office_bg.png',
                    icon: 'img/catalog/office_icon.png',
                    color: 'dark-blue'
                }
            ]
        },
        {
            type: 'big-small',
            blocks: [
                {
                    name: 'Ручки',
                    bg:'img/catalog/pens_bg.png',
                    icon: 'img/catalog/pens_icon.png',
                    color: 'gray'
                },
                {
                    name: 'Праздничные подарки',
                    bg:'img/catalog/presents_bg.png',
                    icon: 'img/catalog/presents_icon.png',
                    color: 'light-red'
                },
            ]
        }
    ];

-
    var productRecommended = {
        title: 'Рекомендуемые товары',
        list: [
            {
                img: 'img/catalog/product-card-backpack.png',
                title: 'Рюкзак Classic Adicolor',
                article: 'Арт.6802.20',
                price: 3690,
                size: [
                    {
                    name: 'Размер (S)',
                    value: 's'
                    },
                    {
                    name: 'Размер (M)',
                    value: 'm'
                    },
                    {
                    name: 'Размер (L)',
                    value: 'l'
                    }
                ],
                quantity: 136,
                quantityCurrent: 1
            },
                {
                    img: 'img/catalog/product-card-umbrella.png',
                    title: 'Зонт реверсивный MO9002-37',
                    article: 'Арт. MO9002-37',
                    price: 1607,
                    isNew: true,
                    size: [
                        {
                            name: 'Размер (S)',
                            value: 's'
                        },
                        {
                            name: 'Размер (M)',
                            value: 'm'
                        },
                        {
                            name: 'Размер (L)',
                            value: 'l'
                        }
            ],
            quantity: 429,
            quantityCurrent: 5,
            },
            {
                img: 'img/catalog/product-card-clock.png',
                title: 'Часы настольные «Статус»',
                article: 'Арт. 126211',
                price: 8850,
                quantity: 0,
                quantityCurrent: 0,
            },
            {
                img: 'img/catalog/product-card-lamp.png',
                title: 'Светильник Flexible',
                article: 'Арт. P513.714',
                price: 1308,
                quantity: 1,
                quantityCurrent: 1,
            }
        ]
    }