-
    var bg = 'img/bg/news.png'

-
    var breadcrumbs = [
        {
            name: 'Главная',
            link: '#'
        },
        {
            name: 'Новости',
            link: '#'
        },
        {
            name: title,
            link: ''
        }
    ];