-
    var bg = 'img/bg/portfolio.jpg'

-
    var breadcrumbs = [
        {
            name: 'Главная',
            link: '#'
        },
        {
            name: title,
            link: ''
        }
    ];

-
    var portfolioCards = [
        {
            img: 'img/portfolio/project-1.jpg',
            title: 'Название проекта',
            markers: [
                'Сувениры',
                'Дизайн'
            ]
        },
        {
            img: 'img/portfolio/project-2.jpg',
            title: 'Название проекта',
            markers: [
                'Полиграфия'
            ]
        },
        {
            img: 'http://dub.gifton.test.letsrock.pro/upload/iblock/b65/b6539fdac01a4ad616fb20e312b0c779.jpg',
            title: 'Название проекта',
            markers: [
                'Дизайн'
            ],
            type: 'big'
        },
        {
            img: 'img/portfolio/project-1.jpg',
            title: 'Длинное Название проекта для теста',
            markers: [
                'Сувениры',
                'Дизайн',
                'ДизайнДизайн Дизайн Дизайн',
                'Дизайн',
                'Дизайн',
            ]
        },
        {
            img: 'img/portfolio/project-2.jpg',
            title: 'Название проекта',
            markers: [
                'Полиграфия'
            ]
        },
        {
            img: 'img/portfolio/project-1.jpg',
            title: 'Название проекта',
            markers: [
                'Сувениры',
                'Дизайн'
            ]
        },
        {
            img: 'img/portfolio/project-2.jpg',
            title: 'Название проекта',
            markers: [
                'Полиграфия'
            ]
        },
        {
            img: 'img/portfolio/project-3.jpg',
            title: 'Длинное Название проекта для теста Длинное Название проекта для теста',
            markers: [
                'Дизайн',
                'Сувениры',
                'Полиграфия',
                'Дизайн',
                'Сувениры',
                'Полиграфия',
            ],
            type: 'big'
        },
        {
            img: 'img/portfolio/project-1.jpg',
            title: 'Название проекта',
            markers: [
                'Сувениры',
                'Дизайн'
            ]
        },
        {
            img: 'img/portfolio/project-2.jpg',
            title: 'Название проекта',
            markers: [
                'Полиграфия'
            ]
        },
        {
            img: 'img/portfolio/project-1.jpg',
            title: 'Название проекта',
            markers: [
                'Сувениры',
                'Дизайн'
            ]
        },
        {
            img: 'img/portfolio/project-2.jpg',
            title: 'Название проекта',
            markers: [
                'Полиграфия'
            ]
        },
        {
            img: 'img/portfolio/project-1.jpg',
            title: 'Название проекта',
            markers: [
                'Сувениры',
                'Дизайн'
            ]
        },
        {
            img: 'img/portfolio/project-2.jpg',
            title: 'Название проекта',
            markers: [
                'Полиграфия'
            ]
        },
    ]