-
    var bg = 'img/printing/printing.jpg'

-
    var breadcrumbs = [
        {
            name: 'Главная',
            link: '#'
        },
        {
            name: 'Виды нанесений',
            link: '#'
        },
        {
            name: title,
            link: ''
        }
    ];