-
    var bg = 'img/project/project-1.jpg'

-
    var breadcrumbs = [
        {
            name: 'Главная',
            link: '#'
        },
        {
            name: 'Портфолио',
            link: '#'
        },
        {
            name: title,
            link: ''
        }
    ];