body {
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: $default-text-color;
	font-weight: 500;
}

html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main-content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

h1, h2, h3, h4, h5, h6, ul {
	padding: 0;
	margin: 0;
}

.container {
	@include container();
	@include xs(max-width, 320px);
	@include sm(max-width, 576px);
	@include md(max-width, 768px);
	@include lg(max-width, 992px);
	@include xl(max-width, 1200px);
}

.inner-page {
	@include m-top(-2);
}

input {
	&:active,
	&:focus {
		outline: none;
	}
}

input[type=text],
input[type=number] {
	display: block;
	box-sizing: border-box;
	padding: 12px 10px 8px;
	font-size: 12px;
	color: #7a7c81;
	font-weight: 500;
	border-radius: 4px;
	//background-color: #f7f9fa;
	border: 1px solid #e7ebee;
}