@include reset();

body {
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: $default-text-color;
	font-weight: 500;
}

html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main-content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: 600;
}

.container {
	@include container();
	//@include xs(max-width, 320px);
	//@include sm(max-width, 576px);
	//@include md(max-width, 768px);
	//@include lg(max-width, 992px);
	//@include xl(max-width, 1200px);
}

.welcome {
	max-width: 860px;
	text-align: center;
	margin: auto;
}

.img-responsive {
	width: 100%;
}

body .hide {
	display: none;
}

.inner-page {
	@include m-top(-2);
	position: relative;
	overflow: hidden;
	@include to($break_md) {
		@include m-top(-1);
	}
}

.o-hidden {
	overflow: hidden;
}

input {
	&:active,
	&:focus {
		outline: none;
	}
}

input[type=text],
input[type=number] {
	display: block;
	box-sizing: border-box;
	padding: 12px 10px 8px;
	font-size: 12px;
	color: #7a7c81;
	font-weight: 500;
	border-radius: 4px;
	//background-color: #f7f9fa;
	border: 1px solid #e7ebee;
}

.title-balloon {
	position: relative;
	display: inline-block;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: -29px;
		left: auto;
		margin: auto;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #f08340;
	}

	&-articles {
		&:before {
			background-color: #0a95dd;
		}
	}
}

.title-date {
	position: relative;
	display: inline-block;
	padding-right: 80px;

	&:before {
		content: attr(data-title-date);
		position: absolute;
		top: 0;
		bottom: 0;
		left: auto;
		right: 0;
		margin: auto auto auto 30px;
		width: auto;
		line-height: 1.2;
		padding: 5px 8px 6px;
		height: 21px;
		border-radius: 11px;
		box-sizing: border-box;
		box-shadow: 0 4px 10px rgba(10,149,221,0.1);
		font-size: 10px;
		color: #fff;
		font-weight: 400;
	}
}


h1,
.h1 {
	font-size: 31px;
	line-height: 54px;
	font-weight: 600;
}

h2,
.h2 {
	font-size: 25px;
	line-height: 45px;
}

h3,
.h3 {
	font-size: 19px;
	line-height: 36px;
}

h4,
.h4 {
	font-size: 14px;
	line-height: 30px;
}

h5,
.h5 {
	font-size: 12px;
	line-height: 26px;
}

h6,
.h6 {
	font-size: 9px;
	line-height: 22px;
}

.typography {
	clear: both;
	width: 100%;
	font-size: 12px;
	line-height: 18px;
	color: #3c414c;
	font-weight: 500;

	& h2,
	&.h2 {
		margin-top: 5px;
		margin-bottom: 20px;
	}


	& p {
		margin-bottom: 25px;
	}

	& img {
		border-radius: 6px;
		width: 100%;
		display: inline-block;
		float:left;
		margin: 0 30px 30px 0;
	}

	& .row {
		@include row-flex();
	}

	& .half {
		width: 50%;
		display: inline-block;
		float:left;
		margin: 0 30px 30px 0;
	}

	& .col-2{
		@include size(8);
		@include col();
		margin-bottom: 40px;
	}

	& .col-4 {
		@include col();
		@include size(4);
		margin-bottom: 30px;
	}

	& .col-2-half {
		@include col();
		@include size(10);
		margin-bottom: 30px;
	}

	& .col-1-half {
		@include col();
		@include size(6);
		margin-bottom: 30px;
	}
}

.table {

	&__head {
		font-size: 14px;
		line-height: 1.2;
		color: #32394d;
		font-weight: 600;
	}

	&__body {
		font-size: 12px;
		line-height: 1.2;
		color: #32394d;
		font-weight: 500;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		padding: 16px 60px;
		border-bottom: 1px solid #ecf1f5;

		&:last-child {
			border-bottom-color: transparent;
		}
	}

	&__col {
		box-sizing: border-box;
		text-align: left;
		width: 10%;
	}
}

.section {
	&-gray {
		background-color: #f9f9f9;
	}
}