@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-black-webfont.eot");
    src: url("../fonts/montserrat-black-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/montserrat-black-webfont.woff2") format("woff2"),
        url("../fonts/montserrat-black-webfont.woff") format("woff"),
        url("../fonts/montserrat-black-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-blackitalic-webfont.eot");
    src: url("../fonts/montserrat-blackitalic-webfont.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/montserrat-blackitalic-webfont.woff2") format("woff2"),
        url("../fonts/montserrat-blackitalic-webfont.woff") format("woff"),
        url("../fonts/montserrat-blackitalic-webfont.ttf") format("truetype");
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-bold-webfont.eot");
    src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/montserrat-bold-webfont.woff2") format("woff2"),
        url("../fonts/montserrat-bold-webfont.woff") format("woff"),
        url("../fonts/montserrat-bold-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-bolditalic-webfont.eot");
    src: url("../fonts/montserrat-bolditalic-webfont.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/montserrat-bolditalic-webfont.woff2") format("woff2"),
        url("../fonts/montserrat-bolditalic-webfont.woff") format("woff"),
        url("../fonts/montserrat-bolditalic-webfont.ttf") format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-extrabold-webfont.eot");
    src: url("../fonts/montserrat-extrabold-webfont.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/montserrat-extrabold-webfont.woff2") format("woff2"),
        url("../fonts/montserrat-extrabold-webfont.woff") format("woff"),
        url("../fonts/montserrat-extrabold-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-extrabolditalic-webfont.eot");
    src: url("../fonts/montserrat-extrabolditalic-webfont.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/montserrat-extrabolditalic-webfont.woff2") format("woff2"),
        url("../fonts/montserrat-extrabolditalic-webfont.woff") format("woff"),
        url("../fonts/montserrat-extrabolditalic-webfont.ttf") format("truetype");
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-extralight-webfont.eot");
    src: url("../fonts/montserrat-extralight-webfont.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/montserrat-extralight-webfont.woff2") format("woff2"),
        url("../fonts/montserrat-extralight-webfont.woff") format("woff"),
        url("../fonts/montserrat-extralight-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-extralightitalic-webfont.eot");
    src: url("../fonts/montserrat-extralightitalic-webfont.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/montserrat-extralightitalic-webfont.woff2") format("woff2"),
        url("../fonts/montserrat-extralightitalic-webfont.woff") format("woff"),
        url("../fonts/montserrat-extralightitalic-webfont.ttf") format("truetype");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-italic-webfont.eot");
    src: url("../fonts/montserrat-italic-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/montserrat-italic-webfont.woff2") format("woff2"),
        url("../fonts/montserrat-italic-webfont.woff") format("woff"),
        url("../fonts/montserrat-italic-webfont.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-light-webfont.eot");
    src: url("../fonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/montserrat-light-webfont.woff2") format("woff2"),
        url("../fonts/montserrat-light-webfont.woff") format("woff"),
        url("../fonts/montserrat-light-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-lightitalic-webfont.eot");
    src: url("../fonts/montserrat-lightitalic-webfont.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/montserrat-lightitalic-webfont.woff2") format("woff2"),
        url("../fonts/montserrat-lightitalic-webfont.woff") format("woff"),
        url("../fonts/montserrat-lightitalic-webfont.ttf") format("truetype");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-medium-webfont.eot");
    src: url("../fonts/montserrat-medium-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/montserrat-medium-webfont.woff2") format("woff2"),
        url("../fonts/montserrat-medium-webfont.woff") format("woff"),
        url("../fonts/montserrat-medium-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-mediumitalic-webfont.eot");
    src: url("../fonts/montserrat-mediumitalic-webfont.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/montserrat-mediumitalic-webfont.woff2") format("woff2"),
        url("../fonts/montserrat-mediumitalic-webfont.woff") format("woff"),
        url("../fonts/montserrat-mediumitalic-webfont.ttf") format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-regular-webfont.eot");
    src: url("../fonts/montserrat-regular-webfont.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/montserrat-regular-webfont.woff2") format("woff2"),
        url("../fonts/montserrat-regular-webfont.woff") format("woff"),
        url("../fonts/montserrat-regular-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-semibold-webfont.eot");
    src: url("../fonts/montserrat-semibold-webfont.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/montserrat-semibold-webfont.woff2") format("woff2"),
        url("../fonts/montserrat-semibold-webfont.woff") format("woff"),
        url("../fonts/montserrat-semibold-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-semibolditalic-webfont.eot");
    src: url("../fonts/montserrat-semibolditalic-webfont.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/montserrat-semibolditalic-webfont.woff2") format("woff2"),
        url("../fonts/montserrat-semibolditalic-webfont.woff") format("woff"),
        url("../fonts/montserrat-semibolditalic-webfont.ttf") format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-thin-webfont.eot");
    src: url("../fonts/montserrat-thin-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/montserrat-thin-webfont.woff2") format("woff2"),
        url("../fonts/montserrat-thin-webfont.woff") format("woff"),
        url("../fonts/montserrat-thin-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "montserrat_thinitalic";
    src: url("../fonts/montserrat-thinitalic-webfont.eot");
    src: url("../fonts/montserrat-thinitalic-webfont.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/montserrat-thinitalic-webfont.woff2") format("woff2"),
        url("../fonts/montserrat-thinitalic-webfont.woff") format("woff"),
        url("../fonts/montserrat-thinitalic-webfont.ttf") format("truetype");
    font-style: italic;
    font-weight: 100;
}
